<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Hello <%= current_user.email %>! </br></h2>
      <%= link_to "Edit my data", edit_user_registration_path %>
    </div>
  </div>
  <div class="row" data-no-turbolink>
    <div class="col-md-12">
      <h3>Actions</h3>
      <% if (current_user.role? 'author') %>
        <h4>Articles</h4>
        <%= link_to "Add new article", new_article_path %><br>
        <%= link_to "View articles", dashboard_articles_path %>
      <% end %>
      <% if current_user.admin? %>
      <h3>Admin panel</h3>
      <%= link_to "Go to admin panel", user_index_path %>
      <% end %>
    </div>
  </div>
</div>
