<div class="container individual-consultory-container padding-topbottom-50 more-bottom-padding-100">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row">
          <div class="col-md-7">
              <div class="page-title">
                <%= t('static_pages.derose_method.body.title') %>
              </div>
              <div class="page-main-body">
                <%= t('static_pages.derose_method.body.main.first_block.content_html') %>
                
                
                <h5><%= t('static_pages.derose_method.body.main.second_block.title') %></h5>
                <%= t('static_pages.derose_method.body.main.second_block.content_html') %>
                <p>
                </p>

                <h5><%= t('static_pages.derose_method.body.main.third_block.title') %></h5>
                <%= t('static_pages.derose_method.body.main.third_block.content_html') %>

                <h5><%= t('static_pages.derose_method.body.main.fourth_block.title') %></h5>
                <%= link_to "/assets/derose_method_characteristics.jpg", class: 'image-link '  do %>
                  <%= image_tag 'derose_method_characteristics.jpg', class: "derose-method-characteristics-image" %>
                <% end %>

              </div>
          </div>
          <div class="col-md-5 individual-sidebar">
            <hr/>
            <div class="individual-sidebar-container">
              <div class="row individual-sidebar-title">
                <h1><%= t('static_pages.derose_method.body.sidebar.video.title') %></h1>
                <%= raw youtube_embed "https://www.youtube.com/watch?v=t2KhPPyqhm8","384px", "226px" %>
              </div>
            </div>
            <%= render 'individual_sidebar_nestle' %>
          </div>
        </div>
    </div>
  </div>
</div>
