<div class="container page-footer">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row page-footer-info-container">
          <div class="col-md-4">
                <div class="page-footer-image-container left">
                  <a href="individual_consultory">
                    <%= image_tag 'static_page_footer_mdr_individual.jpg'%>
                  </a>
                </div>
                <div class="page-footer-text-container">
                  <a href="individual_consultory">
                    <h2><%= t('static_pages.derose_method.footer.first_column.title') %></h2>
                  </a>
                  <p><%= t('static_pages.derose_method.footer.first_column.content_html') %></p>
                </div>
          </div>
          <div class="col-md-4">
                <div class="page-footer-image-container left-30">
                  <a href="group_consultory">
                    <%= image_tag 'static_page_footer_enterprise_program.jpg'%>
                  </a>
                </div>
                <div class="page-footer-text-container">
                  <a href="group_consultory">
                    <h2><%= t('static_pages.derose_method.footer.second_column.title') %></h2>
                  </a>
                  <p><%= t('static_pages.derose_method.footer.second_column.content_html') %></p>
                </div>
          </div>
          <div class="col-md-4">
                <div class="page-footer-image-container right">
                  <%= link_to articles_url do %>
                    <%= image_tag 'static_page_footer_mdr_in_enterprise.jpg'%>
                  <% end %>
                </div>
                <div class="page-footer-text-container">
                  <a href="articles">
                    <h2><%= t('static_pages.derose_method.footer.third_column.title_html') %></h2>
                  </a>
                  <p><%= t('static_pages.derose_method.footer.third_column.content_html') %></p>
                </div>
          </div>
        </div>
    </div>
  </div>
</div>