<div id="individual-header-container" class="container individual-consultory-container page-title-container individual-with-small-group-teaching-background-header">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="tab-content">
        <div id="small-group-teaching-header" class="tab-pane active small-group-teaching page-header-title">
           <%= t('static_pages.group_consultory_header.small_group_teaching.title') %>
         </div>
         <div class="tab-pane active individual-consultory-title-subtitle small-group-teaching">
           <%= t('static_pages.group_consultory_header.small_group_teaching.subtitle') %>
         </div>
         <div class="tab-pane active page-header-subtitle small-group-teaching">
          <%= t('static_pages.group_consultory_header.small_group_teaching.expand_subtitle_html') %>
         </div>
         <div id="small-group-training-header" class="tab-pane small-group-training page-header-title">
           <%= t('static_pages.group_consultory_header.small_group_training.title') %>
         </div>
         <div class="tab-pane individual-consultory-title-subtitle small-group-training">
           <%= t('static_pages.group_consultory_header.small_group_training.subtitle') %>
         </div>
         <div class="tab-pane page-header-subtitle small-group-training">
            <%= t('static_pages.group_consultory_header.small_group_training.expand_subtitle_html') %>
         </div>
         <div id="workshop-header" class="tab-pane workshop page-header-title">
           <%= t('static_pages.group_consultory_header.workshops.title') %>
         </div>
         <div class="tab-pane individual-consultory-title-subtitle workshop">
           <%= t('static_pages.group_consultory_header.workshops.subtitle') %>
         </div>
         <div class="tab-pane page-header-subtitle workshop">
          
         </div>
         <div id="talks-header" class="tab-pane talks page-header-title">
           <%= t('static_pages.group_consultory_header.talks.title') %>
         </div>
         <div class="tab-pane individual-consultory-title-subtitle talks">
           <%= t('static_pages.group_consultory_header.talks.subtitle') %>
         </div>
         <div class="tab-pane page-header-subtitle talks">

         </div>
      </div>
    </div>
  </div>
</div>