<div class="container individual-consultory-container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
    <div class="row individual-tab-navigation">
      <hr />
      <ul class="nav nav-pills" id="individual-pills">
        <li class="<%= "active" if params[:type] == "it" %>">
          <a href="#small-group-training" id="individual-small-group-training-link" data-toggle="tab" data-target=".small-group-training, #small-group-training-header"><%= t('static_pages.group_consultory_body.pills.small_group_training.title') %></a>
          <p><%= t('static_pages.group_consultory_body.pills.small_group_training.subtitle') %></p>
        </li>
        <li class="<%= "active" if params[:type] == "et" %>">
          <a href="#talks" id="individual-talks-link" data-toggle="tab" data-target=".talks, #talks-header"><%= t('static_pages.group_consultory_body.pills.talks.title') %></a>
          <p><%= t('static_pages.group_consultory_body.pills.talks.subtitle') %></p>
        </li>
        <li class="<%= "active" if params[:type] == "lc" %>">
          <a href="#workshop" id="individual-workshop-link" data-toggle="tab" data-target=".workshop, #workshop-header"><%= t('static_pages.group_consultory_body.pills.workshops.title') %></a>
          <p><%= t('static_pages.group_consultory_body.pills.workshops.subtitle') %></p>
        </li>
      </ul>
      <hr />
      <!-- small-group-teaching -->
      <div class="tab-content">
        <div id="small-group-teaching-header" class="tab-pane small-group-teaching">
          <div class="col-md-7 ind-body">
            <div>
             <div>
               <%= render 'individual_consultory_small_group_teaching' %>
             </div>
            </div>
            <div class="our-consultors-programs-link">
              <a href="contact">
                <%= t('static_pages.group_consultory_body.candidates') %>
              </a>
            </div>
          </div>
          <div class="col-md-5 individual-sidebar">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <%= render 'individual_sidebar_group_criteria' %>
                <%= render 'individual_sidebar_unique_method' %>
              </div>
            </div>      
          </div>
        </div>
      <!-- TRAINING -->
        <div id="small-group-training" class="tab-pane <%= "active "if params[:type] == "it" %> small-group-training">
          <div class="col-md-7 ind-body">
            <div>
             <div>
               <%= render 'individual_consultory_small_group_training' %>
             </div>
            </div>
          </div>
          <div class="col-md-5 individual-sidebar">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <%= render 'individual_sidebar_volkswagen' %>
                <%= render 'individual_sidebar_experts' %>
                <%= render 'individual_sidebar_hunter_adams' %>
              </div>
              <div class="our-consultors-programs-link">
              <a href="contact">
                <%= t('static_pages.group_consultory_body.candidates') %>
              </a>
            </div>
            </div>
          </div>
        </div>
      <!-- WORKSHOP -->
        <div id="workshop" class="tab-pane <%= "active "if params[:type] == "lc" %> workshop">
          <div class="col-md-7 ind-body">
            <div>
             <div>
               <%= render 'individual_consultory_workshop' %>
             </div>
            </div>
            <!-- div class="container">
              <div class="row our-consultors-programs-link">
                <a href="apply">
                  CANDIDATURA
                </a>
              </div>
            </div -->  
          </div>
          <div class="col-md-5 individual-sidebar">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <%= render 'individual_sidebar_ericsson' %>
                <%= render 'individual_sidebar_experts' %>
                <%= render 'individual_sidebar_volkswagen_2' %>
              </div>
              <div class="our-consultors-programs-link">
                <a href="contact">
                  <%= t('static_pages.group_consultory_body.candidates') %>
                </a>
              </div>
            </div>
          </div>
        </div>
      <!-- TALKS -->
        <div id="talks" class="tab-pane <%= "active "if params[:type] == "et" %> talks">
          <div class="col-md-7 ind-body">
            <div>
             <div>
               <%= render 'individual_consultory_talks' %>
             </div>
            </div>
          </div>
          <div class="col-md-5 individual-sidebar">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <%= render 'individual_sidebar_nestle' %>
                <%= render 'individual_sidebar_peugeot_testimony' %>
              </div>
              <div class="our-consultors-programs-link">
                <a href="contact">
                  <%= t('static_pages.group_consultory_body.candidates') %>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>