<div class="container individual-consultory-container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
    <div class="row individual-tab-navigation">
      <hr />
      <ul class="nav nav-pills" id="individual-pills">
        <li class="active">
          <a href="#small-group-teaching" id="individual-small-group-teaching-link" data-toggle="tab" data-target=".small-group-teaching, #small-group-teaching-header">SMALL GROUP TEACHING</a>
          <p>2 vêzes 1h per semana</p>
        </li>
        <li>
          <a href="#small-group-training" id="individual-small-group-training-link" data-toggle="tab" data-target=".small-group-training, #small-group-training-header">TREINAMENTO</a>
          <p>15 minutos por día</p>
        </li>
        <li>
          <a href="#workshop" id="individual-workshop-link" data-toggle="tab" data-target=".workshop, #workshop-header">WORKSHOP</a>
          <p>4, 8 ou 16 horas</p>
        </li>
        <li>
          <a href="#talks" id="individual-talks-link" data-toggle="tab" data-target=".talks, #talks-header">PALESTRA</a>
          <p>1, 2 ou 4 horas</p>
        </li>
      </ul>
      <hr />
      <!-- small-group-teaching -->
      <div class="container tab-content">
        <div id="small-group-teaching-header" class="tab-pane active small-group-teaching row">
          <div class="col-md-7">
            <div>
             <div>
               <%= render 'individual_consultory_small_group_teaching' %>
             </div>
            </div>
          </div>
          <div class="col-md-5 individual-sidebar">
            <%= render 'individual_sidebar_criteria' %>
            <%= render 'individual_sidebar_unique_method' %>
          </div>
        </div>
      <!-- TRAINING -->
        <div  id="small-group-training" class="tab-pane small-group-training row">
          <div class="col-md-7">
            <div>
             <div>
               <%= render 'individual_consultory_small_group_training' %>
             </div>
            </div>
          </div>
          <div class="col-md-5 individual-sidebar">
            <%= render 'individual_sidebar_criteria' %>
            <%= render 'individual_sidebar_nestle' %>
            <%= render 'individual_sidebar_unique_method' %>
          </div>
        </div>
      <!-- WORKSHOP -->
        <div  id="workshop" class="tab-pane workshop row">
          <div class="col-md-7">
            <div>
             <div>
               <%= render 'individual_consultory_workshop' %>
             </div>
            </div>
            <!-- div class="container">
              <div class="row our-consultors-programs-link">
                <a href="apply">
                  CANDIDATURA
                </a>
              </div>
            </div -->  
          </div>
          <div class="col-md-5 individual-sidebar">
            <%= render 'individual_sidebar_criteria' %>
            <%= render 'individual_sidebar_experts' %>
            <%= render 'individual_sidebar_unique_method' %>
          </div>
        </div>
      <!-- TALKS -->
        <div id="talks" class="tab-pane talks row">
          <div class="col-md-7">
            <div>
             <div>
               <%= render 'individual_consultory_talks' %>
             </div>
            </div>
            <div class="container">
              <div class="row our-consultors-programs-link">
                <a href="apply">
                  CANDIDATURA
                </a>
              </div>
            </div>  
          </div>
          <div class="col-md-5 individual-sidebar">
            <%= render 'individual_sidebar_criteria' %>
            <%= render 'individual_sidebar_experts' %>
            <%= render 'individual_sidebar_unique_method' %>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>