<hr/>
<div class="individual-sidebar-container container peugeot-container">
  <div class="row individual-sidebar-title">
    <h1><%= t('static_pages.sidebar.peugeot.title') %></h1>
  </div>
  <div class="row individual-sidebar-body" id="peugeot_testimony">
    <div class="col-md-5">
      <div>
        <%= image_tag "erwin_museur.jpg" %>
      </div>
      <%= t('static_pages.sidebar.peugeot.erwin_data_html') %>
      </div>
    <div class="col-md-7" id="peugeot_testimony_text">
      <%= t('static_pages.sidebar.peugeot.testimonial') %>
      
    </div>
  </div>
  <div class="row pull-right individual-consultors-button-link" id="individual-testimony-button-link">
    <span>
      <a href="enterprise_testimonials"><%= t('static_pages.sidebar.peugeot.see_more') %></a>
    </span>
  </div>
</div>