<div class="container individual-consultory-container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
    <div class="row individual-tab-navigation">
      <hr />
      <ul class="nav nav-pills" id="individual-pills">
        <li class="active">
          <a href="#personal" id="individual-personal-link" data-toggle="tab" data-target=".personal, #personal-header">PERSONAL TEACHING</a>
          <p>2 vêzes 1h per semana</p>
        </li>
        <li>
          <a href="#training" id="individual-training-link" data-toggle="tab" data-target=".training, #training-header">TREINAMENTO</a>
          <p>15 minutos por día</p>
        </li>
        <li>
          <a href="#consultory" id="individual-consultory-link" data-toggle="tab" data-target=".consultory, #consultory-header">CONSULTORIAS</a>
          <p>3 até 6 mêses</p>
        </li>
        <!-- li>
          <a href="#intensive" id="individual-intensive-link" data-toggle="tab" data-target=".intensive, #intensive-header">INTENSIVE TEACHING</a>
          <p>2 días</p>
        </li -->
      </ul>
      <hr />
      <!-- PERSONAL -->
      <div class="container tab-content">
        <div id="personal-header" class="tab-pane active personal row">
          <div class="col-md-7">
            <div>
             <div>
               <%= render 'individual_consultory_personal' %>
             </div>
            </div>
          </div>
          <div class="col-md-5 individual-sidebar">
            <%= render 'individual_sidebar_criteria' %>
            <%= render 'individual_sidebar_peugeot_testimony' %>
            <%= render 'individual_sidebar_unique_method' %>
            <div class="container">
              <div class="row our-consultors-programs-link">
                <a href="apply">
                  FIRST MEETING
                </a>
              </div>
            </div>  
          </div>
        </div>
      <!-- TRAINING -->
        <div  id="training" class="tab-pane training row">
          <div class="col-md-7">
            <div>
             <div>
               <%= render 'individual_consultory_training' %>
             </div>
            </div>
          </div>
          <div class="col-md-5 individual-sidebar">
            <%= render 'individual_sidebar_criteria' %>
            <%= render 'individual_sidebar_nestle' %>
            <%= render 'individual_sidebar_unique_method' %>
          </div>
        </div>
      <!-- CONSULTORY -->
        <div  id="consultory" class="tab-pane consultory row">
          <div class="col-md-7">
            <div>
             <div>
               <%= render 'individual_consultory_consultory' %>
             </div>
            </div>
            <!-- div class="container">
              <div class="row our-consultors-programs-link">
                <a href="apply">
                  CANDIDATURA
                </a>
              </div>
            </div -->  
          </div>
          <div class="col-md-5 individual-sidebar">
            <%= render 'individual_sidebar_criteria' %>
            <%= render 'individual_sidebar_experts' %>
            <%= render 'individual_sidebar_unique_method' %>
          </div>
        </div>
      <!-- INTENSIVE -->
        <div id="intensive" class="tab-pane intensive row">
          <div class="col-md-7">
            <div>
             <div>
               <%= render 'individual_consultory_intensive' %>
             </div>
            </div>
            <div class="container">
              <div class="row our-consultors-programs-link">
                <a href="apply">
                  CANDIDATURA
                </a>
              </div>
            </div>  
          </div>
          <div class="col-md-5 individual-sidebar">
            <%= render 'individual_sidebar_criteria' %>
            <%= render 'individual_sidebar_experts' %>
            <%= render 'individual_sidebar_unique_method' %>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>