<div id="individual-header-container" class="container individual-consultory-container page-title-container individual-with-personal-background-header">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="tab-content">
        <div id="personal-header" class="tab-pane active personal page-header-title">
           <%= t('static_pages.individual_consultory_header.personal.title') %>
         </div>
         <div class="tab-pane active individual-consultory-title-subtitle personal">
           <%= t('static_pages.individual_consultory_header.personal.subtitle') %>
         </div>
         <div class="tab-pane active page-header-subtitle personal">
            <%= t('static_pages.individual_consultory_header.personal.expand_subtitle_html') %>
         </div>
         <div id="training-header" class="tab-pane training page-header-title">
           <%= t('static_pages.individual_consultory_header.training.title') %>
         </div>
         <div class="tab-pane individual-consultory-title-subtitle training">
           <%= t('static_pages.individual_consultory_header.training.subtitle') %>
         </div>
         <div class="tab-pane page-header-subtitle training">
            <%= t('static_pages.individual_consultory_header.training.expand_subtitle_html') %>
         </div>
         <div id="consultory-header" class="tab-pane consultory page-header-title">
           <%= t('static_pages.individual_consultory_header.consulting.title') %>
         </div>
         <div class="tab-pane individual-consultory-title-subtitle consultory">
           <%= t('static_pages.individual_consultory_header.consulting.subtitle') %>
         </div>
         <div class="tab-pane page-header-subtitle consultory">
           <%= t('static_pages.individual_consultory_header.consulting.expand_subtitle_html') %>
         </div>
         <div id="intensive-header" class="tab-pane intensive page-header-title">
           <%= t('static_pages.individual_consultory_header.intensive.title') %>
         </div>
         <div class="tab-pane individual-consultory-title-subtitle intensive">
           <%= t('static_pages.individual_consultory_header.intensive.subtitle') %>
         </div>
         <div class="tab-pane page-header-subtitle intensive">
           <%= t('static_pages.individual_consultory_header.intensive.expand_subtitle_html') %>
         </div>
      </div>
    </div>
  </div>
</div>