<hr/>
<div class="row individual-sidebar-container">
  <div class="row individual-sidebar-title">
    <h1><%= t('static_pages.sidebar.experts.title') %></h1>
  </div>
  <div class="row">
    <div class="container">
      <div class="row experts-container">
        <div class="table-responsive individual-consultors-sidebar-list">
          <table>
            <tr>
              <td>
                <a href="our_consultors">
                  <%= image_tag 'consultors_rogerio.jpg' %>
                </a>
              </td>
              <td>
                <a href="our_consultors">
                  <%= image_tag 'consultors_edu.jpg' %>
                </a>
                </td>
              <td>
                <a href="our_consultors">
                  <%= image_tag 'consultors_flavio.jpg' %>
                </a>
              </td>
              <td>
                <a href="our_consultors">
                  <%= image_tag 'consultors_gus.jpg' %>
                </a>
              </td>
              <td>
                <a href="our_consultors">
                  <%= image_tag 'consultors_luis.jpg' %>
                </a>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row pull-right individual-consultors-button-link" id="experts-button-bottom-0-padding">
        <span>
          <a href="our_consultors"><%= t('static_pages.sidebar.experts.see_more') %></a>
        </span>
      </div>
    </div>
  </div>
</div>