<div class="container">
  <div class="row net-data">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-3">
          <div class="net-number">
            100
          </div>  
          <div class="net-info">
            <%= t('static_pages.net.body.numbers.establishments') %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="net-number">
            600
          </div>  
          <div class="net-info">
            <%= t('static_pages.net.body.numbers.consultors') %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="net-number">
            +10
          </div>  
          <div class="net-info">
            <%= t('static_pages.net.body.numbers.countries') %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="net-number">
            +30
          </div>  
          <div class="net-info">
            <%= t('static_pages.net.body.numbers.businesses') %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row net-body-container padding-topbottom-50">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-8 net-body-info">
              <%= t('static_pages.net.body.content_html') %>
            </div>
            <div class="col-md-4 page-link-button">
              <span>
                <a href="group_consultory"><%= t('static_pages.net.body.see_our_programs') %></a>
              </span>
            </div>
          </div>
        </div>
  </div>
</div>