<div class="container partners-container padding-topbottom-50">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 partners-title-container">
      <div class="home-section-title">
        NOSSOS PARECEIROS
      </div>
      <div class="home-section-subtitle">
        Empresas e indivíduos que já foram transformados
      </div>
    </div>
  </div>
  <div class="row partners-images-container">
    <div class="col-md-10 col-md-offset-1">
      <div class="container">
        <div class="row partners-images-row">
          <div id="partners-first-logo">
            <a href="enterprise_testimonials">
              <div class="partners-image coca"></div>
            </a>
          </div>
          <div>
            <a href="enterprise_testimonials">
              <div class="partners-image nestle"></div>
            </a>
          </div>
          <div>
            <a href="enterprise_testimonials">
              <div class="partners-image adidas"></div>
            </a>
          </div>
          <div>
            <a href="enterprise_testimonials">
              <div class="partners-image exxon"></div>
            </a>
          </div>
          <div>
            <a href="enterprise_testimonials">
              <div class="partners-image banco-de-chile"></div>
            </a>
          </div>
          <div>
            <a href="enterprise_testimonials">
              <div class="partners-image johnsons"></div>
            </a>
          </div>
          <div id="partners-last-logo">
            <a href="enterprise_testimonials">
              <div class="partners-image natura"></div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<span style="display:none">
  <%= image_tag "coca_cola-hover.png" %>
  <%= image_tag "nestle-thumb-hover.png" %>
  <%= image_tag "adidas-hover.png" %>
  <%= image_tag "exxon-hover.png" %>
  <%= image_tag "banco_de_chile-hover.png" %>
  <%= image_tag "johnsons-hover.png" %>
  <%= image_tag "natura-hover.jpg" %>
</span>