<div class="container partners-container padding-topbottom-50">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 partners-title-container">
      <div class="home-section-title">
        NOSSOS PARECEIROS
      </div>
      <div class="home-section-subtitle">
        SEE WHO TRUST US
      </div>
    </div>
  </div>
  <div class="row partners-images-container">
    <div class="col-md-10 col-md-offset-1">
      <div class="container">
        <div class="row partners-images-row">
          <div>
            <a href="enterprise_testimonials">
              <%= image_tag "coca_cola.png" %>
            </a>
          </div>
          <div>
            <a href="enterprise_testimonials">
              <%= image_tag "nestle_thumb.png" %>
            </a>
          </div>
          <div>
            <a href="enterprise_testimonials">
              <%= image_tag "adidas-hover.png" %>
            </a>
          </div>
          <div>
            <a href="enterprise_testimonials">
              <%= image_tag "exxon-hover.png" %>
            </a>
          </div>
          <div>
            <a href="enterprise_testimonials">
              <%= image_tag "banco_de_chile.png" %>
            </a>
          </div>
          <div>
            <a href="enterprise_testimonials">
              <%= image_tag "johnsons.png" %>
            </a>
          </div>
          <div>
            <a href="enterprise_testimonials">
              <%= image_tag "natura.jpg" %>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>