<div class="container partners-container padding-topbottom-50">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 partners-title-container">
      <div class="home-section-title">
        <%= t('static_pages.partners.title') %>
      </div>
      <div class="home-section-subtitle">
        <%= t('static_pages.partners.subtitle') %>
      </div>
    </div>
  </div>
  <div class="row partners-images-container">
    <div class="col-md-10 col-md-offset-1">
        <div class="partners-images-row">
          <div id="partners-first-logo">
            <%= link_to enterprise_testimonials_path do %>
              <div class="partners-image coca"></div>
            <% end %>
          </div>
          <div>
            <%= link_to enterprise_testimonials_path do %>
              <div class="partners-image nestle"></div>
            <% end %>
          </div>
          <div>
            <%= link_to enterprise_testimonials_path do %>
              <div class="partners-image adidas"></div>
            <% end %>
          </div>
          <div>
            <%= link_to enterprise_testimonials_path do %>
              <div class="partners-image exxon"></div>
            <% end %>
          </div>
          <div>
            <%= link_to enterprise_testimonials_path do %>
              <div class="partners-image banco-de-chile"></div>
            <% end %>
          </div>
          <div>
            <%= link_to enterprise_testimonials_path do %>
              <div class="partners-image johnsons"></div>
            <% end %>
          </div>
          <div id="partners-last-logo">
            <%= link_to enterprise_testimonials_path do %>
              <div class="partners-image natura"></div>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</div>
<span style="display:none">
  <%= image_tag "coca_cola-hover.png" %>
  <%= image_tag "nestle-thumb-hover.png" %>
  <%= image_tag "adidas-hover.png" %>
  <%= image_tag "exxon-hover.png" %>
  <%= image_tag "banco_de_chile-hover.png" %>
  <%= image_tag "johnsons-hover.png" %>
  <%= image_tag "natura-hover.jpg" %>
</span>