<div class="row programme-container padding-topbottom-50">
  <div class="col-md-3 col-md-offset-1">
    <div class="home-section-title">
      <%= t('static_pages.programs.title') %>
    </div>
    <div class="home-section-subtitle hover-gold">
      <%= t('static_pages.programs.subtitle') %>
    </div>
  </div>
  <div class="col-md-7 subprogramme-container">
      <div class="row">
        <div class="col-md-6 programme-option">
            <div class="row programme-header hover-gold">
              <span><%= t('static_pages.programs.individuals.title') %></span>
            </div>
            <div class="programme-border-left">
              <div class="row single-programme-row">
                <div class="col-md-6 without-padding-left-or-right">
                  <div class="hover-gold">
                    <%= link_to individual_consultory_path(:value => "0")+"#personal" do %>
                      <div class="programme-subheader">
                        <%= t('static_pages.programs.individuals.personal_teaching.title') %>
                      </div>
                      <div class="programme-subsubheader">
                        <%= t('static_pages.programs.individuals.personal_teaching.subtitle') %>
                      </div>
                    <% end %>
                  </div>
                  <div class="programme-text">
                    <ul>
                      <li>
                        &#8226; <%= t('static_pages.programs.individuals.personal_teaching.first_item') %>
                      </li>
                      <li>
                        &#8226; <%= t('static_pages.programs.individuals.personal_teaching.second_item') %>
                      </li>
                      <li>
                        &#8226; <%= t('static_pages.programs.individuals.personal_teaching.third_item') %>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-6 without-padding-left-or-right">
                  <div class="hover-gold">
                    <%= link_to individual_consultory_path(:value => "1")+"#consultory" do %>
                      <div class="programme-subheader">
                        <%= t('static_pages.programs.individuals.consultory.title') %>
                      </div>
                      <div class="programme-subsubheader">
                        <%= t('static_pages.programs.individuals.consultory.subtitle') %>
                      </div>
                    <% end %>
                  </div>
                  <div class="programme-text">
                    <ul>
                      <li>
                        &#8226; <%= t('static_pages.programs.individuals.consultory.first_item') %>
                      </li>
                      <li>
                        &#8226; <%= t('static_pages.programs.individuals.consultory.second_item') %>
                      </li>
                      <li>
                        &#8226; <%= t('static_pages.programs.individuals.consultory.third_item') %>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="col-md-6 programme-option">
            <div class="row programme-header hover-gold">
              <span><%= t('static_pages.programs.enterprise.title') %></span>
            </div>
            <div class="programme-border-left programme-border-right">
              <div class="row single-programme-row">
                <div class="col-md-6 without-padding-left-or-right">
                  <div class="hover-gold">
                    <%= link_to group_consultory_path do %>
                      <div class="programme-subheader">
                        <%= t('static_pages.programs.enterprise.small_group_teaching.title') %>
                      </div>
                      <div class="programme-subsubheader">
                        <%= t('static_pages.programs.enterprise.small_group_teaching.subtitle') %>
                      </div>
                    <% end %>
                  </div>
                  <div class="programme-text">
                    <ul>
                      <li>
                        &#8226; <%= t('static_pages.programs.enterprise.small_group_teaching.first_item') %>
                      </li>
                      <li>
                        &#8226; <%= t('static_pages.programs.enterprise.small_group_teaching.second_item') %>
                      </li>
                      <li>
                        &#8226; <%= t('static_pages.programs.enterprise.small_group_teaching.third_item') %>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-6 without-padding-left-or-right">
                  <div class="hover-gold">
                      <%= link_to group_consultory_path(:value => "4")+"#small-group-training" do %>
                        <div class="programme-subheader">
                          <%= t('static_pages.programs.enterprise.small_group_training.title') %>
                        </div>
                        <div class="programme-subsubheader">
                          <%= t('static_pages.programs.enterprise.small_group_training.subtitle') %>
                        </div>
                      <% end %>
                    </div>
                    <div class="programme-text">
                      <ul>
                        <li>
                          &#8226; <%= t('static_pages.programs.enterprise.small_group_training.first_item') %>
                        </li>
                        <li>
                          &#8226; <%= t('static_pages.programs.enterprise.small_group_training.second_item') %>
                        </li>
                        <li>
                          &#8226; <%= t('static_pages.programs.enterprise.small_group_training.third_item') %>
                        </li>
                      </ul>
                    </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="row programme-show-with-plus">
        <div class="col-md-6 programme-option">
            <div class="programme-border-left">
              <div class="row single-programme-row">
                <div class="col-md-6 without-padding-left-or-right">
                  <div class="hover-gold">
                    <%= link_to individual_consultory_path(:value => "3")+"#training" do %>
                      <div class="programme-subheader">
                        <%= t('static_pages.programs.individuals.training.title') %>
                      </div>
                      <div class="programme-subsubheader">
                        <%= t('static_pages.programs.individuals.training.subtitle') %>
                      </div>
                    <% end %>
                  </div>
                  <div class="programme-text">
                    <ul>
                      <li>
                        &#8226; <%= t('static_pages.programs.individuals.training.first_item') %>
                      </li>
                      <li>
                        &#8226; <%= t('static_pages.programs.individuals.training.second_item') %>
                      </li>
                      <li>
                        &#8226; <%= t('static_pages.programs.individuals.training.third_item') %>
                      </li>
                      <li>
                        &#8226; <%= t('static_pages.programs.individuals.training.fourth_item') %>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- div class="col-md-6 without-padding-left-or-right">
                  <div class="hover-gold">
                    <div class="programme-subheader">
                      INTENSIVE TEACHING
                    </div>
                    <div class="programme-subsubheader">
                      2 días
                    </div>
                  </div>
                  <div class="programme-text">
                    <ul>
                      <li>
                        &#8226; Alta Produtividade
                      </li>
                      <li>
                        &#8226; Viver e trabalhar melhor
                      </li>
                      <li>
                        &#8226; Comportamento, Etica e Resultados
                      </li>
                    </ul>
                  </div>
                </div -->
              </div>
            </div>
        </div>
          <div class="col-md-6 programme-option">
              <div class="programme-border-left programme-border-right">
                <div class="row single-programme-row">
                  <div class="col-md-6 without-padding-left-or-right">
                    <div class="hover-gold">
                      <%= link_to group_consultory_path(:value => "5")+"#talks" do %>
                        <div class="programme-subheader">
                          <%= t('static_pages.programs.enterprise.talks.title') %>
                        </div>
                        <div class="programme-subsubheader">
                          <%= t('static_pages.programs.enterprise.talks.subtitle') %>
                        </div>
                      <% end %>
                    </div>
                    <div class="programme-text">
                      <ul>
                        <li>
                          &#8226; <%= t('static_pages.programs.enterprise.talks.first_item') %>
                        </li>
                        <li>
                          &#8226; <%= t('static_pages.programs.enterprise.talks.second_item') %>
                        </li>
                        <li>
                          &#8226; <%= t('static_pages.programs.enterprise.talks.third_item') %>
                        </li>
                        <li>
                          &#8226; <%= t('static_pages.programs.enterprise.talks.fourth_item') %>
                        </li>
                        <li>
                          &#8226; <%= t('static_pages.programs.enterprise.talks.fifth_item') %>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-6 without-padding-left-or-right">
                    <div class="hover-gold">
                      <%= link_to group_consultory_path(:value => "2")+"#workshop" do %>
                        <div class="programme-subheader">
                          <%= t('static_pages.programs.enterprise.workshop.title') %>
                        </div>
                        <div class="programme-subsubheader">
                          <%= t('static_pages.programs.enterprise.workshop.subtitle') %>
                        </div>
                      <% end %>
                    </div>
                    <div class="programme-text">
                      <ul>
                        <li>
                          &#8226; <%= t('static_pages.programs.enterprise.workshop.first_item') %>
                        </li>
                        <li>
                          &#8226; <%= t('static_pages.programs.enterprise.workshop.second_item') %>
                        </li>
                        <li>
                          &#8226; <%= t('static_pages.programs.enterprise.workshop.third_item') %>
                        </li>
                        <li>
                          &#8226; <%= t('static_pages.programs.enterprise.workshop.fourth_item') %>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
      <div class="programme-plus">
        <div class="col-md-offset-4 col-md-7">
          <div class="row">
            <div class="col-md-6 programme-option">
              <div class="row more-programme">
                <a href="#">
                  <span class="glyphicon glyphicon-plus-sign"></span>
                </a>
              </div>
            </div>
            <div class="col-md-6 programme-option">
              <div class="row more-programme">
                <a href="#">
                  <span class="glyphicon glyphicon-plus-sign"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class=" programme-minus">
        <div class="col-md-offset-4 col-md-7">
          <div class="row">
            <div class="col-md-6 programme-option">
              <div class="row less-programme">
                <a href="#">
                  <span class="glyphicon glyphicon-minus-sign"></span>
                </a>
              </div>
            </div>
            <div class="col-md-6 programme-option">
              <div class="row less-programme">
                <a href="#">
                  <span class="glyphicon glyphicon-minus-sign"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
