<div class="row programme-container padding-topbottom-50">
  <div class="col-sm-4 col-md-3 col-md-offset-1">
    <div class="home-section-title">
      <%= t('static_pages.programs.title') %>
    </div>
    <div class="home-section-subtitle">
      <%= t('static_pages.programs.subtitle') %>
    </div>
  </div>
  <div class="col-sm-8 col-md-7 subprogramme-container">
      <div class="row">
        <div class="col-sm-4 col-md-4">
          <div class="hover-gold">
            <%= link_to intense_training_path do %>
              <div class="programme-subheader">
                <%= t('static_pages.programs.enterprise.small_group_training.title') %>
              </div>
              <div class="programme-subsubheader">
                <%= t('static_pages.programs.enterprise.small_group_training.subtitle') %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="hover-gold">
            <%= link_to extensive_training_path do %>
              <div class="programme-subheader">
                <%= t('static_pages.programs.enterprise.talks.title') %>
              </div>
              <div class="programme-subsubheader">
                <%= t('static_pages.programs.enterprise.talks.subtitle') %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="hover-gold">
            <%= link_to leader_coaching_path do %>
              <div class="programme-subheader">
                <%= t('static_pages.programs.enterprise.workshop.title') %>
              </div>
              <div class="programme-subsubheader">
                <%= t('static_pages.programs.enterprise.workshop.subtitle') %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
  </div>
</div>
