<div class="col-md-4">
  <div class="container">
    <div class="row home-article-thumb">
      <% if article.article_image? %>
        <%= link_to article_path(article.id) do %>
          <%= image_tag article.article_image.url %>
        <% end %>
      <% else %>
        <% if !article.video_url.blank? %>
          <%= raw youtube_embed article.video_url, "100%", "175px" %>
        <% end %>
      <% end %>
      <div class="home-article-category">
        <div class="article-square articles-category-<%= article.categories.first.name.parameterize.underscore %>">
        </div>
        <%= link_to article.categories.first.name.upcase+ ' >', category_path(article.categories.first.id)  %>
      </div>
      <% if article.hover_frase.blank? %>
        <div class="home-article-hover-frase">
          <%= article.hover_frase %>
        </div>
      <% end %>
    </div>
    <div class="row home-article-title">
      <%= link_to article_path(article.id) do %>
        <%= article.title %>
      <% end %>
    </div>
    <div class="row home-article-subtitle">
      <%= article.subtitle %>
    </div>
    <div class="row home-article-author">
      <%= article.author %>
    </div>
    <div class="row home-article-content">
      <%= article.excerpt %>
    </div>
    <div class="row home-article-read-more">
      <%= link_to "READ MORE >>", article_path(article.id) %>
    </div>
  </div>
</div>