<div class="col-md-4">
    <div class="home-article-thumb">
      <% if article.article_image? %>
        <%= link_to article_path(article.id) do %>
          <%= image_tag article.article_image.url %>
          <% if !article.hover_frase.blank? %>
            <div class="home-article-hover-frase">
              <%= article.hover_frase %>
            </div>
          <% end %>
        <% end %>
      <% end %>
      <div class="home-article-category">
        <div class="article-square articles-category-<%= article.categories.first.name.parameterize.underscore %>">
        </div>
        <%= link_to t(article.categories.first.name.parameterize.underscore).mb_chars.upcase, category_path(article.categories.first.id)  %>
      </div>
    </div>
    <div class="home-article-title">
      <%= link_to article_path(article.id) do %>
        <%= article.title %>
      <% end %>
    </div>
    <div class="home-article-subtitle">
      <%= link_to article_path(article.id) do %>
        <%= article.subtitle %>
      <% end %>
    </div>
    <div class="home-article-author">
      <%= article.author %>
    </div>
    <div class="home-article-content">
      <%= article.excerpt %>
    </div>
    <div class="home-article-read-more">
      <%= link_to t('read_more'), article_path(article.id) %>
    </div>
</div>