<% title 'DEPOIMENTOS' %>
<% cache do %>
<div class="container padding-topbottom-50 more-bottom-padding-100">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="container">
        <div class="row">
          <div class="container">
            <div class="row">
              <div class="col-md-7">
                <div class="container">
                  <div class="row page-title">
                    <%= t('static_pages.testimonials.enterprise.title') %>
                  </div>
                  <div class="row enterprise-testimonials-page-main-body">
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="row single-testimonials">
              <div class="col-md-3">
                <div class="individual-sidebar-container">
                  <hr/>
                  <div class="row individual-testimonial-data">
                    <div class="testimonial-data-image">
                      <%= image_tag "erwin_museur.jpg" %>
                    </div>
                    <h2>Erwin MUSEUR</h2>
                    <h3>Paris, <br>
                    FRANCE</h3>
                    <h4>Manager Design <br>
                    PEUGEOT</h4>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-md-offset-2 individual-testimonial-text">
                <div class="row testimonial-initial-quotes">
                  <%= image_tag "initial_quotes.gif" %>
                </div>
                <div class="row">
                  <%= t('static_pages.testimonials.enterprise.erwin.content_html') %>
                </div>
                <div class="row testimonial-finish-quotes">
                  <%= image_tag "finish_quotes.gif" %>
                </div>
              </div>
            </div>
            <div class="row single-testimonials">
              <div class="col-md-3">
                <div class="individual-sidebar-container">
                  <hr/>
                  <div class="row individual-testimonial-data">
                    <div class="testimonial-data-image">
                      <%= image_tag "judith_adamson.jpg", id: "judith_testimonial_image" %>
                    </div>
                    <h2>Judith ADAMSON</h2>
                    <h3>Edinburgh, <br>
                    UNITED KINGDOM</h3>
                    <h4>Senior HR Advisor<br>
                    HUNTER ADAMS</h4>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-md-offset-2 individual-testimonial-text">
                <div class="row testimonial-initial-quotes">
                  <%= image_tag "initial_quotes.gif" %>
                </div>
                <div class="row">
                  <%= t('static_pages.testimonials.enterprise.judith.content_html') %>
                </div>
                <div class="row testimonial-finish-quotes">
                  <%= image_tag "finish_quotes.gif" %>
                </div>
              </div>
            </div>
            <div class="row single-testimonials">
              <div class="col-md-3">
                <div class="individual-sidebar-container">
                  <hr/>
                  <div class="row individual-testimonial-data">
                    <div class="testimonial-data-image">
                      <%= image_tag "miguel_dalnegro.jpg", id: "miguel_dalnegro_image" %>
                    </div>
                    <%= t('static_pages.testimonials.enterprise.miguel.info_html') %>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-md-offset-2 individual-testimonial-text">
                <div class="row testimonial-initial-quotes">
                  <%= image_tag "initial_quotes.gif" %>
                </div>
                <div class="row">
                  <%= t('static_pages.testimonials.enterprise.miguel.content_html') %>
                </div>
                <div class="row testimonial-finish-quotes">
                  <%= image_tag "finish_quotes.gif" %>
                </div>
              </div>
            </div>
            <div class="row enterprise-testimonials-footer">
              <div class="col-md-3">
                <div class="row">
                  <%= image_tag "nestle_logo.jpg" %>
                </div>
              </div>
              <div class="col-md-3 col-md-offset-2">
                <div class="row testimonials-footer-quote">
                  <%= t('static_pages.testimonials.enterprise.first_quote.content_html') %>
                </div>
                <div class="row testimonials-footer-person">
                  <%= t('static_pages.testimonials.enterprise.first_quote.info_html') %>
                </div>
              </div>
              <div class="col-md-3 col-md-offset-1 last-enterprise-footer-testimonial">
                <div class="row testimonials-footer-quote">
                  <%= t('static_pages.testimonials.enterprise.second_quote.content_html') %>
                </div>
                <div class="row testimonials-footer-person">
                  <%= t('static_pages.testimonials.enterprise.second_quote.info_html') %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'partners' %>
<% end %>