<% 
  meta title: normalize_title(t('static_pages.navbar.testimonials.enterprises')),
        description: t('static_pages.metatags.enterprise_testimonials.description'),
        og: {
          description: t('static_pages.metatags.enterprise_testimonials.description'),
          image: "http://www.deroseforleaders.com/assets/logo_derose_method.png",
          url: enterprise_testimonials_url,
          title: (normalize_title(t('static_pages.navbar.testimonials.enterprises')))
        },
        twitter: {
          card: "summary",
          description: t('static_pages.metatags.enterprise_testimonials.description'),
          site: "@deroseforleaders",
          image: "http://www.deroseforleaders.com/assets/logo_derose_method.png"
        }
%>
<div class="container padding-topbottom-50 more-bottom-padding-100">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="container">
        <div class="row">
          <div class="container">
            <div class="row">
              <div class="col-md-7">
                <div class="container">
                  <div class="row page-title">
                    <%= t('static_pages.testimonials.enterprise.title') %>
                  </div>
                  <div class="row enterprise-testimonials-page-main-body">
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="row single-testimonials">
              <div class="col-md-3">
                <div class="individual-sidebar-container">
                  <hr/>
                  <div class="row individual-testimonial-data">
                    <% if false %>
                      <div class="testimonial-data-image">
                        <%= image_tag "erwin_museur.jpg" %>
                      </div>
                    <% end %>
                    <h2>Erwin MUSEUR</h2>
                    <h3>Paris, <br>
                    FRANCE</h3>
                    <h4>Manager Design <br>
                    PEUGEOT</h4>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-md-offset-2 individual-testimonial-text">
                <div class="row testimonial-initial-quotes">
                  <%= image_tag "initial_quotes.gif" %>
                </div>
                <div class="row">
                  <%= t('static_pages.testimonials.enterprise.erwin.content_html') %>
                </div>
                <div class="row testimonial-finish-quotes">
                  <%= image_tag "finish_quotes.gif" %>
                </div>
              </div>
            </div>
            <div class="row single-testimonials">
              <div class="col-md-3">
                <div class="individual-sidebar-container">
                  <hr/>
                  <div class="row individual-testimonial-data">
                    <h2>Judith ADAMSON</h2>
                    <h3>Edinburgh, <br>
                    UNITED KINGDOM</h3>
                    <h4>Senior HR Advisor<br>
                    HUNTER ADAMS</h4>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-md-offset-2 individual-testimonial-text">
                <div class="row testimonial-initial-quotes">
                  <%= image_tag "initial_quotes.gif" %>
                </div>
                <div class="row">
                  <%= t('static_pages.testimonials.enterprise.judith.content_html') %>
                </div>
                <div class="row testimonial-finish-quotes">
                  <%= image_tag "finish_quotes.gif" %>
                </div>
              </div>
            </div>
            <div class="row single-testimonials">
              <div class="col-md-3">
                <div class="individual-sidebar-container">
                  <hr/>
                  <div class="row individual-testimonial-data">
                    <h2>Paulo RODRIGUES GUINO</h2>
                    <h3><%= t('static_pages.sidebar.volkswagen.position') %></h3>
                    <h4>VOLKSWAGEN</h4>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-md-offset-2 individual-testimonial-text">
                <div class="row testimonial-initial-quotes">
                  <%= image_tag "initial_quotes.gif" %>
                </div>
                <div class="row">
                  <%= t('static_pages.sidebar.volkswagen.content_html') %>
                </div>
                <div class="row testimonial-finish-quotes">
                  <%= image_tag "finish_quotes.gif" %>
                </div>
              </div>
            </div>
            <div class="row single-testimonials">
              <div class="col-md-3">
                <div class="individual-sidebar-container">
                  <hr/>
                  <div class="row individual-testimonial-data">
                    <h2>John GOMEZ</h2>
                    <h3><%= t('static_pages.sidebar.ericsson.position') %></h3>
                    <h4>ERICSSON</h4>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-md-offset-2 individual-testimonial-text">
                <div class="row testimonial-initial-quotes">
                  <%= image_tag "initial_quotes.gif" %>
                </div>
                <div class="row">
                  <%= t('static_pages.sidebar.ericsson.content_html') %>
                </div>
                <div class="row testimonial-finish-quotes">
                  <%= image_tag "finish_quotes.gif" %>
                </div>
              </div>
            </div>
            <div class="row single-testimonials">
              <div class="col-md-3">
                <div class="individual-sidebar-container">
                  <hr/>
                  <div class="row individual-testimonial-data">
                    <h3>Renata Ribeiro</h3>
                    <h3><%= t('static_pages.sidebar.nestle_1.position') %></h3>
                    <h4>Nestlé Brazil</h4>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-md-offset-2 individual-testimonial-text">
                <div class="row testimonial-initial-quotes">
                  <%= image_tag "initial_quotes.gif" %>
                </div>
                <div class="row">
                  <%= t('static_pages.testimonials.enterprise.first_quote.content_html') %>
                </div>
                <div class="row testimonial-finish-quotes">
                  <%= image_tag "finish_quotes.gif" %>
                </div>
              </div>
            </div>
            <div class="row single-testimonials">
              <div class="col-md-3">
                <div class="individual-sidebar-container">
                  <hr/>
                  <div class="row individual-testimonial-data">
                    <h3>Nanci Yamada</h3>
                    <h3><%= t('static_pages.sidebar.nestle_2.position') %></h3>
                    <h4>Nestlé Brazil</h4>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-md-offset-2 individual-testimonial-text">
                <div class="row testimonial-initial-quotes">
                  <%= image_tag "initial_quotes.gif" %>
                </div>
                <div class="row">
                  <%= t('static_pages.testimonials.enterprise.second_quote.content_html') %>
                </div>
                <div class="row testimonial-finish-quotes">
                  <%= image_tag "finish_quotes.gif" %>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'partners' %>
