<% title 'DEPOIMENTOS' %>
<div class="container padding-topbottom-50 more-bottom-padding-100">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="container">
        <div class="row">
          <div class="container">
            <div class="row">
              <div class="col-md-7">
                <div class="container">
                  <div class="row page-title">
                    DEPOIMENTOS DE ALUNOS
                  </div>
                  <div class="row enterprise-testimonials-page-main-body">
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="row single-testimonials">
              <div class="col-md-3">
                <div class="individual-sidebar-container">
                  <hr/>
                  <div class="row individual-testimonial-data">
                    <div class="testimonial-data-image">
                      <%= image_tag "erwin_museur.jpg" %>
                    </div>
                    <h2>Erwin MUSEUR</h2>
                    <h3>Paris, <br>
                    FRANCE</h3>
                    <h4>Manager Design <br>
                    PEUGEOT</h4>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-md-offset-2 individual-testimonial-text">
                <div class="row testimonial-initial-quotes">
                  <%= image_tag "initial_quotes.gif" %>
                </div>
                <div class="row">
                  <p>Desde o inicio gostei muito das aulas pois senti que produziam efeitos positivos muito rápido. Nos primeiros meses aprendi ferramentas muito eficientes para aumentar a minha vitalidade, melhorei a minha capacidade respiratória assim com a flexibilidade e tônus muscular. Logo mais comecei a treinar as minhas capacidades mentais. O conhecimento teórico transmitido através das conversas agregou muito valor no meu crescimento pessoal e profissional.</p>
                  <p>Com o  Método DeR<span class="navbar-title-smallcaps">OSE</span> desenvolvi mais conhecimento de mi mesmo e do meu potencial. Eu me sinto melhor no dia-a-dia, mais sereno e mais preparado para enfrentar os desafios.</p>
                  <p>Como profissional eu senti uma melhoria significativa na priorização das minhas tarefas, na administração de conflitos, na gestão do estresse e na minha capacidade de liderar. Isso resultou numa progressão muito expressiva na minha carreira pois meus colegas e superiores perceberam o quanto eu tinha progredido e me confiaram novas responsabilidades e cargos de liderança.</p>
                </div>
                <div class="row testimonial-finish-quotes">
                  <%= image_tag "finish_quotes.gif" %>
                </div>
              </div>
            </div>
            <div class="row single-testimonials">
              <div class="col-md-3">
                <div class="individual-sidebar-container">
                  <hr/>
                  <div class="row individual-testimonial-data">
                    <div class="testimonial-data-image">
                      <%= image_tag "judith_adamson.jpg", id: "judith_testimonial_image" %>
                    </div>
                    <h2>Judith ADAMSON</h2>
                    <h3>Edinburgh, <br>
                    UNITED KINGDOM</h3>
                    <h4>Senior HR Advisor<br>
                    HUNTER ADAMS</h4>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-md-offset-2 individual-testimonial-text">
                <div class="row testimonial-initial-quotes">
                  <%= image_tag "initial_quotes.gif" %>
                </div>
                <div class="row">
                  <p>Pratico o Método DeR<span class="navbar-title-smallcaps">OSE</span> por um curto período de tempo, e estou feliz em dizer que estou maravilhada pelas técnicas, pela cultura e pelo estilo de vida ensinados nesta metodologia. De imediato, percebi que estava me sentindo mais relaxada, por mais que as técnicas fossem muito intensas e até mesmo difíceis para uma iniciante como eu. Agora esses exercícios fazem parte da minha vida! O Método DeR<span class="navbar-title-smallcaps">OSE</span> é mesmo impressionante, e ajuda a melhorar todos os aspectos da vida. Estou realmente satisfeita por ter encontrado esse estilo de vida, descoberto esse método e o incentivo a todos que buscam aprimoramento geral, tanto físico quanto pessoal.</p>
                </div>
                <div class="row testimonial-finish-quotes">
                  <%= image_tag "finish_quotes.gif" %>
                </div>
              </div>
            </div>
            <div class="row single-testimonials">
              <div class="col-md-3">
                <div class="individual-sidebar-container">
                  <hr/>
                  <div class="row individual-testimonial-data">
                    <div class="testimonial-data-image">
                      <%= image_tag "miguel_dalnegro.jpg", id: "miguel_dalnegro_image" %>
                    </div>
                    <h2>Miguel <br> DAL'NEGRO CARVALHO</h2>
                    <h3>Curitiba, <br>
                    BRASIL</h3>
                    <h4>Analista<br>
                    Departamento de <br>
                    Organização do Sistema <br>
                    Financeiro<br>
                    BANCO DO BRASIL</h4>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-md-offset-2 individual-testimonial-text">
                <div class="row testimonial-initial-quotes">
                  <%= image_tag "initial_quotes.gif" %>
                </div>
                <div class="row">
                  <p>Bem, antes de praticar, já tinha a noção da inter-relação dos corpos emocional, mental e físico. Conhecia os reflexos que o corpo emocional imprimia no corpo físico, tanto benéficos quanto maléficos. Mas pouco sabia dos reflexos que o corpo físico imprimia aos corpos mental e emocional. Então percebi que as posições de equilíbrio físico me ajudaram no equilíbrio emocional.</p>
                  <p>Pude utilizar o controle da respiração para me acalmar ou para me energizar. A consciência corporal adquirida me ajudou a melhor identificar as causas dos desequilíbrios físicos e a evitá-los. Além destes, há muitos outros benefícios menores que no conjunto melhoraram minha qualidade de vida.</p>
                </div>
                <div class="row testimonial-finish-quotes">
                  <%= image_tag "finish_quotes.gif" %>
                </div>
              </div>
            </div>
            <div class="row enterprise-testimonials-footer">
              <div class="col-md-3">
                <div class="row">
                  <%= image_tag "nestle_logo.jpg" %>
                </div>
              </div>
              <div class="col-md-3 col-md-offset-2">
                <div class="row testimonials-footer-quote">
                  “Meu bem-estar melhorou sensivelmente desde que comecei a praticar o Método DeR<span class="navbar-title-smallcaps">OSE</span>.”
                </div>
                <div class="row testimonials-footer-person">
                  <h2>Renata Ribeiro</h2>
                  Consumer Insight Head at Nestlé Brazil
                </div>
              </div>
              <div class="col-md-3 col-md-offset-1 last-enterprise-footer-testimonial">
                <div class="row testimonials-footer-quote">
                  “Acho que o Programa do Método DeR<span class="navbar-title-smallcaps">OSE</span> na nossa empresa está muito bem conduzido.”
                </div>
                <div class="row testimonials-footer-person">
                  <h2>Nanci Yamada</h2>
                  Especialista Desenvolvimento e R&S at Nestle Brazil
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'partners' %>