<% title "DeRose For Leaders" %>
  <%= render "slideshow" %>
  <%= render "programmes" %>
  <div class="container">
    <div class="row articles-line"></div>
  </div>
  <%= render "articles" %>
  <%= render "partners" %>
<%= render "zopim" %>


