<% title "DeRose For Leaders" %>
<div class="container">
  <%= render "slideshow" %>
  <%= render "programmes" %>
  <div class="row articles-line"></div>
  <%= render "articles" %>
  <%= render "partners" %>
</div>
<%= render "zopim" %>


