<% title "HOME" %>
<% cache do %>
  <%= render "slideshow" %>
  <%= render "programmes" %>
  <div class="container">
    <div class="row articles-line"></div>
  </div>
<% end %>
<% cache do %>
  <%= render "articles" %>
<% end %>

<% cache do %>
  <%= render "partners" %>
<% end %>
<%= render "zopim" %>


