<% 
  meta title: normalize_title(t('static_pages.navbar.testimonials.institutions')),
        description: t('static_pages.metatags.institutions_testimonials.description'),
        og: {
          description: t('static_pages.metatags.institutions_testimonials.description'),
          image: "http://www.deroseforleaders.com/assets/logo_derose_method.png",
          url: institution_testimonials_url,
          title: (normalize_title(t('static_pages.navbar.testimonials.institutions')))
        },
        twitter: {
          card: "summary",
          description: t('static_pages.metatags.institutions_testimonials.description'),
          site: "@deroseforleaders",
          image: "http://www.deroseforleaders.com/assets/logo_derose_method.png"
        }
%>

<%= render 'institution_testimonials_header' %>
<div class="container padding-topbottom-50">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="container">
        <div class="row page-main-body">
          <%= t('static_pages.testimonials.institutions.content_html') %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row institution-testimonials-images-container">
    <div class="col-md-10 col-md-offset-1">
      <div class="container">
        <div class="row institution-testimonials-single-row-images institution-testimonials-single-row-images-width-100">
          <div>
            <%= image_tag "governo_estado_sao_paulo.png" %>
          </div>
          <div>
            <%= image_tag "governo_estado_sao_paulo_2.png" %>
          </div>
          <div>
            <%= image_tag "policia_militar_sao_paulo.png" %>
          </div>
          <div>
            <%= image_tag "onu_naciones_unidas_brasil.png" %>
          </div>
          <div>
            <%= image_tag "universidad_de_estado_sa.png" %>
          </div>
        </div>
        <div class="row institution-testimonials-single-row-images institution-testimonials-single-row-images-width-80">
          <div>
            <%= image_tag "heraldica.png" %>
          </div>
          <div>
            <%= image_tag "opb.png" %>
          </div>
          <div>
            <%= image_tag "ordem.png" %>
          </div>
          <div>
            <%= image_tag "instituto_hist_geo_sp.png" %>
          </div>
        </div>
        <div class="row institution-testimonials-single-row-images institution-testimonials-single-row-images-width-100">
          <div>
            <%= image_tag "museo_met.png" %>
          </div>
          <div>
            <%= image_tag "museo-metropolitano-buenos-aires-met.png" %>
          </div>
          <div>
            <%= image_tag "hec.png" %>
          </div>
          <div>
            <%= image_tag "essec.png" %>
          </div>
          <div>
            <%= image_tag "cap_enseignement.png" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
