<% title 'DEPOIMENTOS' %>
<%= render 'institution_testimonials_header' %>
<div class="container padding-topbottom-50 more-bottom-padding-100">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="container">
        <div class="row page-main-body">
            <p>O Comendador DeRose é apoiado por um expressivo número de instituições culturais, acadêmicas, humanitárias, militares e governamentais que reconhecem o valor da sua obra. Contudo, ele sempre declara: “Aceito essas homenagens porque elas não são para engrandecer o ego de uma pessoa, mas servem como manifestações do respeito que a sociedade presta ao trabalho de todos os profissionais desta área. Assim, sendo, quero dividir com você o mérito deste reconhecimento.”</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row institution-testimonials-images-container">
    <div class="col-md-10 col-md-offset-1">
      <div class="container">
        <div class="row institution-testimonials-single-row-images institution-testimonials-single-row-images-width-100">
          <div>
            <%= image_tag "governo_estado_sao_paulo.png" %>
          </div>
          <div>
            <%= image_tag "governo_estado_sao_paulo_2.png" %>
          </div>
          <div>
            <%= image_tag "policia_militar_sao_paulo.png" %>
          </div>
          <div>
            <%= image_tag "onu_naciones_unidas_brasil.png" %>
          </div>
          <div>
            <%= image_tag "universidad_de_estado_sa.png" %>
          </div>
        </div>
        <div class="row institution-testimonials-single-row-images institution-testimonials-single-row-images-width-80">
          <div>
            <%= image_tag "heraldica.png" %>
          </div>
          <div>
            <%= image_tag "opb.png" %>
          </div>
          <div>
            <%= image_tag "ordem.png" %>
          </div>
          <div>
            <%= image_tag "instituto_hist_geo_sp.png" %>
          </div>
        </div>
        <div class="row institution-testimonials-single-row-images institution-testimonials-single-row-images-width-100">
          <div>
            <%= image_tag "museo_met.png" %>
          </div>
          <div>
            <%= image_tag "museo-metropolitano-buenos-aires-met.png" %>
          </div>
          <div>
            <%= image_tag "hec.png" %>
          </div>
          <div>
            <%= image_tag "essec.png" %>
          </div>
          <div>
            <%= image_tag "cap_enseignement.png" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>