<% title "Nossos Consultores" %>
<% cache do %>
  <div class="container our-consultors-container">
    <%= render 'our_consultors_header' %>
    <div class="row our-consultors-info-container our-consultors-padding-topbottom-50">
      <div class="col-md-7 col-md-offset-1">
        <div class="our-consultors-titles">
          <%= t('static_pages.our_consultors.body.first_block.title') %>
        </div>
        <div class="our-consultors-text">
          <p>
            <%= t('static_pages.our_consultors.body.first_block.content_html') %>
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="our-consultors-number">
          +500
        </div>
        <div class="our-consultors-consultors">
          <%= t('static_pages.our_consultors.body.first_block.personal_teachers') %>
        </div>
      </div>
    </div>
    <div class="row our-consultors-middle-banner">
      
    </div>
    <div class="row our-consultors-info-container our-consultors-padding-topbottom-50">
      <div class="col-md-10 col-md-offset-1">
        <div class="our-consultors-titles">
          <%= t('static_pages.our_consultors.body.second_block.title') %>
        </div>
        <div class="our-consultors-text">
          <p>
            <%= t('static_pages.our_consultors.body.second_block.content_html') %>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-1 our-consultors-bio">
          <div class="our-consultors-photo">
            <%= image_tag "consultors_luis.jpg" %>  
          </div>
          <div class="our-consultors-bio-title">
            <%= t('static_pages.our_consultors.body.consultors.luis.title') %>
          </div>
          <div class="our-consultors-bio-subtitle">
            
          </div>
          <div class="our-consultors-line"></div>
          <div class="our-consultors-bio-info">
            <%= t('static_pages.our_consultors.body.consultors.luis.content_html') %>
          </div>
      </div>
      <div class="col-md-2  our-consultors-bio">
          <div class="our-consultors-photo">
            <%= image_tag "consultors_gus.jpg" %>  
          </div>
          <div class="our-consultors-bio-title">
            <%= t('static_pages.our_consultors.body.consultors.gus.title') %>
          </div>
          <div class="our-consultors-bio-subtitle">
            
          </div>
          <div class="our-consultors-line"></div>
          <div class="our-consultors-bio-info">
            <%= t('static_pages.our_consultors.body.consultors.gus.content_html') %>
          </div>
      </div>
      <div class="col-md-2  our-consultors-bio">
          <div class="our-consultors-photo">
            <%= image_tag "consultors_rogerio.jpg" %>  
          </div>
          <div class="our-consultors-bio-title">
            <%= t('static_pages.our_consultors.body.consultors.rogerio.title') %>
          </div>
          <div class="our-consultors-bio-subtitle">
            
          </div>
          <div class="our-consultors-line"></div>
          <div class="our-consultors-bio-info">
            <%= t('static_pages.our_consultors.body.consultors.rogerio.content_html') %>
          </div>
      </div>
      <div class="col-md-2 our-consultors-bio">
          <div class="our-consultors-photo">
            <%= image_tag "consultors_edu.jpg" %>  
          </div>
          <div class="our-consultors-bio-title">
            <%= t('static_pages.our_consultors.body.consultors.edu.title') %>
          </div>
          <div class="our-consultors-bio-subtitle">
            
          </div>
          <div class="our-consultors-line"></div>
          <div class="our-consultors-bio-info">
            <%= t('static_pages.our_consultors.body.consultors.edu.content_html') %>
          </div>
      </div>
      <div class="col-md-2  our-consultors-bio">
          <div class="our-consultors-photo">
            <%= image_tag "consultors_flavio.jpg" %>  
          </div>
          <div class="our-consultors-bio-title">
            <%= t('static_pages.our_consultors.body.consultors.flavio.title') %>
          </div>
          <div class="our-consultors-bio-subtitle">
            
          </div>
          <div class="our-consultors-line"></div>
          <div class="our-consultors-bio-info">
            <%= t('static_pages.our_consultors.body.consultors.flavio.content_html') %>
          </div>
        </div>
    </div>
    <div class="our-consultors-padding-topbottom-50">
      <div class="our-consultors-programs-link">
        <a href="group_consultory">
          <%= t('static_pages.our_consultors.footer.see_our_programs') %>
        </a>
      </div>
    </div>
  </div>
<% end %>