<% title "Nossos Consultores" %>
<% cache do %>
  <div class="container our-consultors-container">
    <%= render 'our_consultors_header' %>
    <div class="row our-consultors-info-container our-consultors-padding-topbottom-50">
      <div class="col-md-7 col-md-offset-1">
        <div class="our-consultors-titles">
          NOSSOS PROFISSIONAIS
        </div>
        <div class="our-consultors-text">
          <p>
            Dispomos de centenas de <i>Personal Teachers</i> por todo o mundo. A qualidade da formação de cada um deles é foco constante dentro do Método DeR<span class="navbar-title-smallcaps">OSE</span>: eles são preparados por, no mínimo, 4 anos e são anualmente reavaliados para que mantenham o alto nível de excelência. Nós ministramos palestras, <i>workshops</i> e treinamentos sobre temas como boas relações humanas, administração de conflitos, gestão de stress, alta produtividade, foco e outros temas. O contratante pode escolher a língua em que deseja que seu programa seja ministrado: português, inglês, francês, espanhol, italiano e alemão.
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="our-consultors-number">
          +500
        </div>
        <div class="our-consultors-consultors">
          personal teachers
        </div>
      </div>
    </div>
    <div class="row our-consultors-middle-banner">
      
    </div>
    <div class="row our-consultors-info-container our-consultors-padding-topbottom-50">
      <div class="col-md-10 col-md-offset-1">
        <div class="our-consultors-titles">
          CONSULTORES EXPERTS
        </div>
        <div class="our-consultors-text">
          <p>
            Dentro do nosso grupo de centenas de profissionais espalhados por todo o globo há uma seleção de alguns especialistas com mais tempo de ensinamento do Método DeR<span class="navbar-title-smallcaps">OSE</span>: os <i>Consultores Experts</i>.Todos eles possuem mais de 15 anos de experiência, já estiveram presentes em eventos internacionais pelas Américas e Europa (palestrando no Brasil, na Argentina, em Portugal, na França e nos Estados Unidos). Os programas como as consultorias e as palestras são ministrados exclusivamente pelos <i>Consultores Experts</i> que são considerados os melhores nas suas respectivas áreas de especialização.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-1 our-consultors-bio">
        <div class="container">
          <div class="row our-consultors-photo">
            <%= image_tag "consultors_luis.jpg" %>  
          </div>
          <div class="row our-consultors-bio-title">
            Luís LOPES
          </div>
          <div class="row our-consultors-bio-subtitle">
            
          </div>
          <div class="row our-consultors-line"></div>
          <div class="row our-consultors-bio-info">
            Envolvido com o trabalho no Método DeR<span class="navbar-title-smallcaps">OSE</span> desde 1988, Luís Lopes foi fundador da primeira escola certificada da rede em Portugal. Ministra cursos desde 1990. É especialista na área de Reprogramação Emocional e Técnicas de Purificação Orgânicas. É especializado em adaptar o Método DeR<span class="navbar-title-smallcaps">OSE</span> para profissionais e empresas.
          </div>
        </div>
      </div>
      <div class="col-md-2  our-consultors-bio">
        <div class="container">
          <div class="row our-consultors-photo">
            <%= image_tag "consultors_gus.jpg" %>  
          </div>
          <div class="row our-consultors-bio-title">
            Gustavo OLIVEIRA
          </div>
          <div class="row our-consultors-bio-subtitle">
            
          </div>
          <div class="row our-consultors-line"></div>
          <div class="row our-consultors-bio-info">
            Docente do Método DeR<span class="navbar-title-smallcaps">OSE</span>, é também bacharel em Engenharia Mecânica pela Unicamp e pós-graduado em Administração e Marketing pela ESPM. Ministra cursos voltados para qualidade de vida, desenvolvimento corporal, mentalização, meditação e motivação.
          </div>
        </div>
      </div>
      <div class="col-md-2  our-consultors-bio">
        <div class="container">
          <div class="row our-consultors-photo">
            <%= image_tag "consultors_rogerio.jpg" %>  
          </div>
          <div class="row our-consultors-bio-title">
            Rogério BRANT
          </div>
          <div class="row our-consultors-bio-subtitle">
            
          </div>
          <div class="row our-consultors-line"></div>
          <div class="row our-consultors-bio-info">
            Formado pela Pontifícia Universidade Católica do Paraná (PUC-PR) e pela Universidade Lusófona, de Lisboa, se especializou nas técnicas orgânicas do Método DeR<span class="navbar-title-smallcaps">OSE</span>. Ministra cursos em várias cidades do Brasil, América do Sul e Europa.
          </div>
        </div>
      </div>
      <div class="col-md-2 our-consultors-bio">
        <div class="container">
          <div class="row our-consultors-photo">
            <%= image_tag "consultors_edu.jpg" %>  
          </div>
          <div class="row our-consultors-bio-title">
            Eduardo CIRILO
          </div>
          <div class="row our-consultors-bio-subtitle">
            
          </div>
          <div class="row our-consultors-line"></div>
          <div class="row our-consultors-bio-info">
            Empreendedor do Método DeR<span class="navbar-title-smallcaps">OSE</span> desde 1999, dirige sua própria escola na cidade de Porto, em Portugal, desde 2004. Dedica-se à formação de profissionais da rede, e também especializou-se no ensino de técnicas e conceitos para profissionais, empresários e estudantes, principalmente em técnicas respiratórias e administração do stress.
          </div>
        </div>
      </div>
      <div class="col-md-2  our-consultors-bio">
        <div class="container">
          <div class="row our-consultors-photo">
            <%= image_tag "consultors_flavio.jpg" %>  
          </div>
          <div class="row our-consultors-bio-title">
            Flávio MOREIRA
          </div>
          <div class="row our-consultors-bio-subtitle">
            
          </div>
          <div class="row our-consultors-line"></div>
          <div class="row our-consultors-bio-info">
            Fundador de dois empreendimentos do Método DeR<span class="navbar-title-smallcaps">OSE</span> na cidade de São Paulo, possui quase 20 anos como ministrante e professor da rede. Como professor, ministrou diversos cursos práticos e teóricos no Brasil e em diversos países da Europa. É especializado em Alta Performance em técnicas.
          </div>
        </div>
      </div>
    </div>
    <div class="container our-consultors-padding-topbottom-50">
      <div class="row our-consultors-programs-link">
        <a href="group_consultory">
          VER NOSSOS PROGRAMAS
        </a>
      </div>
    </div>
  </div>
<% end %>