<% title "Nossos Consultores" %>
<div class="container our-consultors-container">
  <%= render 'our_consultors_header' %>
  <div class="row our-consultors-info-container our-consultors-padding-topbottom-50">
    <div class="col-md-7 col-md-offset-1">
      <div class="our-consultors-titles">
        NOSSOS PROFISIONAIS
      </div>
      <div class="our-consultors-text">
        Dispomos de centenas de Personal Teachers por todo o mundo. A qualidade da formação de cada um deles é foco constante dentro do Método DeR<span class="navbar-title-smallcaps">OSE</span>: eles são preparados por, no mínimo, 4 anos e são anualmente reavaliados para que mantenham o alto nível de excelência. Nós ministramos palestras, workshops e treinamentos sobre temas como boas relaçoēs interpessoais, administração de conflitos, gestão de stress, alta produtividade, foco e outros temas. O contratante pode escolher a língua em que deseja que seu programa seja ministrado: português, inglês, francês, espanhol, italiano e alemão.
      </div>
    </div>
    <div class="col-md-3">
      <div class="our-consultors-number">
        +500
      </div>
      <div class="our-consultors-consultors">
        personal teachers
      </div>
    </div>
  </div>
  <div class="row our-consultors-middle-banner">
    
  </div>
  <div class="row our-consultors-info-container our-consultors-padding-topbottom-50">
    <div class="col-md-10 col-md-offset-1">
      <div class="our-consultors-titles">
        CONSULTORES EXPERTS
      </div>
      <div class="our-consultors-text">
        <p>Dentro do nosso grupo de centenas de profissionais espalhados por todo o globo, há uma seleção de alguns especialistas com mais tempo de ensinamento do Método DeR<span class="navbar-title-smallcaps">OSE</span>: os Consultores Experts.Todos eles possuem mais de 15 anos de experiência, já estiveram presentes em eventos internacionais pelas Américas e Europa (palestrando no Brasil, na Argentina, em Portugal, na França e nos Estados Unidos). Os programas como as consultorias e as palestras são ministrados exclusivamente pelos Consultores Experts que são consideros os melhores nas suas respectivas areas de especialisação.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-1 our-consultors-bio">
      <div class="container">
        <div class="row our-consultors-photo">
          <%= image_tag "consultors_luis.jpg" %>  
        </div>
        <div class="row our-consultors-bio-title">
          Luís LOPES
        </div>
        <div class="row our-consultors-bio-subtitle">
          Titre ou pays ?
        </div>
        <div class="row our-consultors-line"></div>
        <div class="row our-consultors-bio-info">
          Mini description du professeur, éléments importants de son parcours, années d'expérience dans le réseau, types de stages qu'il donne, éventuellement les villes où il intervient (voyages, notamment les festivals ou évènements professionnels), livres publiés ou réussites notables.
        </div>
      </div>
    </div>
    <div class="col-md-2  our-consultors-bio">
      <div class="container">
        <div class="row our-consultors-photo">
          <%= image_tag "consultors_gus.jpg" %>  
        </div>
        <div class="row our-consultors-bio-title">
          Gustavo OLIVEIRA
        </div>
        <div class="row our-consultors-bio-subtitle">
          Titre ou pays ?
        </div>
        <div class="row our-consultors-line"></div>
        <div class="row our-consultors-bio-info">
          Mini description du professeur, éléments importants de son parcours, années d'expérience dans le réseau, types de stages qu'il donne, éventuellement les villes où il intervient (voyages, notamment les festivals ou évènements professionnels), livres publiés ou réussites notables.
        </div>
      </div>
    </div>
    <div class="col-md-2  our-consultors-bio">
      <div class="container">
        <div class="row our-consultors-photo">
          <%= image_tag "consultors_rogerio.jpg" %>  
        </div>
        <div class="row our-consultors-bio-title">
          Rogério BRANT
        </div>
        <div class="row our-consultors-bio-subtitle">
          Titre ou pays ?
        </div>
        <div class="row our-consultors-line"></div>
        <div class="row our-consultors-bio-info">
          Mini description du professeur, éléments importants de son parcours, années d'expérience dans le réseau, types de stages qu'il donne, éventuellement les villes où il intervient (voyages, notamment les festivals ou évènements professionnels), livres publiés ou réussites notables.
        </div>
      </div>
    </div>
    <div class="col-md-2 our-consultors-bio">
      <div class="container">
        <div class="row our-consultors-photo">
          <%= image_tag "consultors_edu.jpg" %>  
        </div>
        <div class="row our-consultors-bio-title">
          Eduardo CIRILO
        </div>
        <div class="row our-consultors-bio-subtitle">
          Titre ou pays ?
        </div>
        <div class="row our-consultors-line"></div>
        <div class="row our-consultors-bio-info">
          Mini description du professeur, éléments importants de son parcours, années d'expérience dans le réseau, types de stages qu'il donne, éventuellement les villes où il intervient (voyages, notamment les festivals ou évènements professionnels), livres publiés ou réussites notables.
        </div>
      </div>
    </div>
    <div class="col-md-2  our-consultors-bio">
      <div class="container">
        <div class="row our-consultors-photo">
          <%= image_tag "consultors_flavio.jpg" %>  
        </div>
        <div class="row our-consultors-bio-title">
          Flávio MOREIRA
        </div>
        <div class="row our-consultors-bio-subtitle">
          Titre ou pays ?
        </div>
        <div class="row our-consultors-line"></div>
        <div class="row our-consultors-bio-info">
          Mini description du professeur, éléments importants de son parcours, années d'expérience dans le réseau, types de stages qu'il donne, éventuellement les villes où il intervient (voyages, notamment les festivals ou évènements professionnels), livres publiés ou réussites notables.
        </div>
      </div>
    </div>
  </div>
  <div class="container our-consultors-padding-topbottom-50">
    <div class="row our-consultors-programs-link">
      <a href="#">
        VER NOSSOS PROGRAMAS
      </a>
    </div>
  </div>
</div>