<ul>
  <li class="articles-category-leadership">
    <%= link_to articles_url do %>
      LIDERANÇA
    <% end %>
  </li>
  <li class="articles-category-high-performance">
    <%= link_to articles_url do %>
      ALTA PRODUTIVIDADE
    <% end %>
  </li>
  <li class="articles-category-focus">
    <%= link_to articles_url do %>
      FOCO
    <% end %>
  </li>
  <li class="articles-category-intuition">
    <%= link_to articles_url do %>
      INTUIÇAO
    <% end %>
  </li>
  <li class="articles-category-quality-of-life">
    <%= link_to articles_url do %>
      QUALIDADE DE VIDA
    <% end %>
  </li>
  <li class="articles-category-human-relationships">
    <%= link_to articles_url do %>
      RELAÇOES HUMANAS
    <% end %>
  </li>
</ul>