<ul>
  <li class="articles-category-leadership">
    <%= link_to articles_url do %>
      LIDERANÇA
    <% end %>
  </li>
  <li class="articles-category-high_performance">
    <%= link_to articles_url do %>
      ALTA PRODUTIVIDADE
    <% end %>
  </li>
  <li class="articles-category-focus">
    <%= link_to articles_url do %>
      FOCO
    <% end %>
  </li>
  <li class="articles-category-intuition">
    <%= link_to articles_url do %>
      INTUIÇão aplicada
    <% end %>
  </li>
  <li class="articles-category-human_relationships">
    <%= link_to articles_url do %>
      Relaçoēs Interpessoais
    <% end %>
  </li>
  <li class="articles-category-quality_of_life">
    <%= link_to articles_url do %>
      Lifestyle
    <% end %>
  </li>
</ul>