<ul>
  <li class="articles-category-leadership">
    <%= link_to articles_url(category: "leadership") do %>
      <%= t('static_pages.categories.leadership') %>
    <% end %>
  </li>
  <li class="articles-category-high_performance">
    <%= link_to articles_url(category: "high performance") do %>
      <%= t('static_pages.categories.high_performance') %>
    <% end %>
  </li>
  <li class="articles-category-focus">
    <%= link_to articles_url(category: "focus") do %>
      <%= t('static_pages.categories.focus') %>
    <% end %>
  </li>
  <li class="articles-category-human_relationships">
    <%= link_to articles_url(category: "human relationships") do %>
      <%= t('static_pages.categories.human_relationships') %>
    <% end %>
  </li>
  <li class="articles-category-quality_of_life">
    <%= link_to articles_url(category: "quality of life") do %>
      <%= t('static_pages.categories.quality_of_life') %>
    <% end %>
  </li>
</ul>