<ul>
  <li class="articles-category-leadership">
    <%= link_to articles_url(category: "leadership") do %>
      LIDERANÇA
    <% end %>
  </li>
  <li class="articles-category-high_performance">
    <%= link_to articles_url(category: "high performance") do %>
      ALTA PRODUTIVIDADE
    <% end %>
  </li>
  <li class="articles-category-focus">
    <%= link_to articles_url(category: "focus") do %>
      FOCO
    <% end %>
  </li>
  <li class="articles-category-intuition">
    <%= link_to articles_url(category: "intuition") do %>
      INTUIÇão aplicada
    <% end %>
  </li>
  <li class="articles-category-human_relationships">
    <%= link_to articles_url(category: "human relationships") do %>
      Relaçoēs Interpessoais
    <% end %>
  </li>
  <li class="articles-category-quality_of_life">
    <%= link_to articles_url(category: "quality of life") do %>
      Lifestyle
    <% end %>
  </li>
</ul>