<div class="container">
  <div class="row">
    <div class="col-md-12 article-info-container">
      <h1>
        <%= link_to article_path(article.id) do %>
          <%= article.title %>
        <% end %> 
      </h1>
      <div class="container">
        <div class="row">
          <div class="col-md-12 featured-article-metadata">
            <div class="container">
              <div class="row">
                <div class="article-author">
                  <%= article.author %>
                </div>
                <div class="article-square articles-category-<%= article.categories.first.name.parameterize.underscore %>">
                  
                </div>
                <div class="article-category">
                  <%= t("#{article.categories.first.name.parameterize.underscore}") %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row article-big-image">
          <div class="col-md-12">
            <%= link_to article_path(article.id) do %>
              <%= image_tag article.article_image.url %>
            <% end %> 
          </div>
        </div>
        <div class="row article-preview">
          <p><%= truncate article.content, length: 100, separator: ' '  %></p>
        </div>
      </div>
    </div>
  </div>
</div>