<%= render 'users/navbar' %>
<div class="container new-article-container">
  <h1>Edit article</h1>
  
  <%= link_to new_article_path(article_language: @article.article_language.id) do %>
    <h3>click here to translate this article to another language</h3>
  <% end %>
  <div class="col-md-4">
    <%= form_for @article, html: {multipart: true, class: "form-horizontal", role: 'form'} do |f| %>
      <div class="form-group">
        <%= label(:article, :title, class: 'col-sm-2 control-label') %>
        <div class="col-sm-10">
          <%= f.text_field :title, class: 'form-control', id: 'article_title', placeholder: "Set your title here", value: @article.title %>
        </div>
      </div>
      <div class="form-group">
        <%= label(:article, :subtitle, class: 'col-sm-2 control-label') %>
        <div class="col-sm-10">
          <%= f.text_field :subtitle, class: 'form-control', id: 'article_subtitle', placeholder: "Set your subtitle here", value: @article.subtitle %>
        </div>
      </div>
      <div class="form-group">
        <%= label(:article, :excerpt, class: 'col-sm-2 control-label') %>
        <div class="col-sm-10">
          <%= f.text_field :excerpt, class: 'form-control', id: 'article_excerpt', placeholder: "Set your excerpt here", value: @article.excerpt %>
        </div>
      </div>
      <div class="form-group">
        <%= label(:article, :author, class: 'col-sm-2 control-label') %>
        <div class="col-sm-10">
          <%= f.collection_select :author_id, Author.all, :id, :name, {}, {class: "select2"} %>
        </div>
      </div>
      <div class="form-group">
        <%= label(:article, :article_image, class: 'col-sm-2 control-label') %>
        <div class="col-sm-10">
          <%= f.file_field :article_image, class: 'form-control', id: 'article_image', placeholder: "Set the image url here" %>
          <%= f.hidden_field :article_image_cache %>
        </div>
        <div class="col-sm-10 edit-article-image">
          <% if @article.article_image? %>
            <%= image_tag @article.article_image.url %>
          <% else %>
            No image has been loaded yet
          <% end %>
        </div>
      </div>
      <div class="form-group">
        <%= label(:article, :remote_article_image_url, class: 'col-sm-2 control-label') %>
        <div class="col-sm-10">
          <%= f.text_field :remote_article_image_url, class: 'form-control', id: 'remote_article_image_url', placeholder: "Set the image url here", value: @article.remote_article_image_url %>
        </div>
      </div>
      <div class="form-group">
        <%= label(:article, :video_url, class: 'col-sm-2 control-label') %>
        <div class="col-sm-10">
          <%= f.text_field :video_url, class: 'form-control', id: 'article_video_url', placeholder: "Set the link to the video", value: @article.video_url %>
        </div>
      </div>
      <div class="form-group">
        <%= label(:article, :hover_frase, class: 'col-sm-2 control-label') %>
        <div class="col-sm-10">
          <%= f.text_field :hover_frase, class: 'form-control', id: 'article_hover_frase', placeholder: "Set the image hover frase", value: @article.hover_frase %>
        </div>
      </div>
      <div class="form-group">
        <%= label(:article, :lang, class: 'col-sm-2 control-label') %>
        <div class="col-sm-10">
          <%= f.select :lang, TranslationCenter::TranslationKey.langs_stats.keys, {}, {class: "select2"} %>
        </div>
      </div>
      <div class="form-group">
        <%= label(:article, :category, class: 'col-sm-2 control-label') %>
        <div class="col-sm-10">
          <%= f.collection_select :category_ids, Category.all, :id, :name, {}, {class: "select2", :multiple => true} %>
        </div>
      </div>
      <div class="form-group">
        <%= label(:article, :content, class: 'col-sm-2 control-label') %>
        <div class="col-sm-10">
          <%= f.text_area :content, class: 'form-control', id: 'article_content', placeholder: "Set the article content here", size: "60x12", value: @article.content %>
        </div>
      </div>
      <div class="form-group">
        <%= label(:article, :publish_at, class: 'col-sm-2 control-label') %>
        <div class="col-sm-10">
          <%= f.date_field :publish_at, class: 'form-control', id: 'article_published_at', placeholder: "Set the date to publish the article", :'data-provide' =>'datepicker',value: @article.publish_at %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit "Update", class: 'btn btn-default' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
