<div class="single-article-container container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="container">
        <div class="row">
          <div class="col-md-12 articles-categories">
            <%= render 'articles_categories' %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7 article-info-container">
            asdasdasd
          </div>
          <div class="col-md-5">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<h1>New Article!</h1>
  <h2>This is how it will look</h2>
  <h3>Title</h3>
  <%= @article.title %>
  <h4>Subtitle</h4>
  <%= @article.subtitle %>
  <h4>Author</h4>
  <%= @article.author %>
  <h4>Image</h4>
  <%= image_tag @article.article_image.url if @article.article_image? %>
  <h4>Category (just one for now)</h4>
  <%= @article.categories.first.name %>
  <h4>Content</h4>
  <%= @article.content %>