<% 
  meta title: meta_title_for(@article.title.capitalize),
        description: @article.get_metatag_description,
        og: {
          description: @article.get_metatag_description,
          image: @article.get_metatag_image,
          url: article_url(@article.id),
          title: (@article.get_metatag_title)
        },
        twitter: {
          card: "summary",
          description: @article.get_metatag_description,
          site: "@deroseforleaders",
          image: @article.get_metatag_image
        }
%>
<div class="single-article-container container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="container">
        <div class="row articles-categories-container">
          <div id="article-affix">
            <div class="col-md-12 articles-categories">
              <%= render 'articles_categories' %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 main-article-container">
            <div class="container">
              <div class="row">
                <div class="col-md-12 article-info-container">
                  <h1>
                    <%= @article.title %>
                    <% if !@article.subtitle.nil? %>
                      <br>
                      <%= @article.subtitle %>
                    <% end %>
                  </h1>
                  <div class="container">
                    <div class="row">
                      <div class="col-md-2 article-author-photo">
                        <% if @article.author == "DeRose" %>
                          <div class="row articles-authors-mini-container">
                            <div class="articles-authors-mini-photo derose">
                            </div>
                          </div>
                        <% elsif @article.author == "Edgardo Caramella" %>
                          <div class="articles-authors-mini-photo edgardo">
                          </div>
                        <% elsif @article.author == "Carlo Mea" %>
                          <div class="articles-authors-mini-photo carlo">
                          </div>
                        <% elsif @article.author == "Joris Marengo" %>
                          <div class="articles-authors-mini-photo joris">
                          </div>
                        <% elsif @article.author == "Yael Barcesat" %>
                          <div class="articles-authors-mini-photo yael">
                          </div>
                        <% elsif @article.author == "Gustavo Marson" %>
                          <div class="articles-authors-mini-photo gustavo">
                          </div>
                        <%end%>
                      </div>
                      <div class="col-md-10 article-metadata">
                        <div class="container">
                          <div class="row">
                            <div class="article-author">
                              <%= @article.author %>
                            </div>
                            <div class="article-square articles-category-<%= @article.categories.first.name.parameterize.underscore %>">

                            </div>
                            <div class="article-category">
                              <%= t("static_pages.categories."+"#{@article.categories.first.name.parameterize.underscore}") %>
                            </div>
                          </div>
                          <div class="row article-tag">
                            <% if @article.tags.count > 0 %>
                              | <% @article.tags.each do |tag| %>
                              <%= tag.name %> |
                              <% end %>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr/>
                  <div class="container">
                    <div class="row article-content">
                      <% if !@article.video_url.blank? %>
                        <%= raw youtube_embed @article.video_url, "100%", "300px" %>
                      <% else %>
                        <%= image_tag @article.image.url if @article.image? %>
                      <% end %>
                      <p><%= simple_format @article.content %></p>
                    </div>
                  </div>
                  <hr>
                  <div class="container related-articles">
                    <h2>
                      <%= t("articles.related_texts", default: "TEXTOS RELACIONADOS") %>
                    </h2>
                    <% cache "#{@article.categories.first.name}-related_articles" do%>
                      <div class="row">
                      <% 3.times do |i| %>
                        <div class="col-md-4">
                          <% if @related_articles.count > i %>
                            <div>
                              <%= link_to article_path(@related_articles[i].id) do %>
                                <%= image_tag @related_articles[i].image.url %>
                            <% end %>
                            </div>
                            <div class="related-article-title">
                              <%= link_to article_path(@related_articles[i].id) do %>
                                <%= @related_articles[i].title %>
                              <% end %>
                            </div>
                          <% end %>
                        </div>
                      <% end %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 article-sidebar">
              <div class="container latest-articles">
                <h2><%= t('articles.latest_articles') %></h2>
                <% 3.times do |i| %>
                  <div class="row">
                    <% if @latest_articles.count > i %>
                      <div class="col-md-5">
                        <%= link_to article_path(@latest_articles[i].id) do %>
                          <%= image_tag @latest_articles[i].image.url %>
                        <% end %>
                      </div>
                      <div class="col-md-7 latest-article-title-container">
                        <div class="latest-article-title">
                          <%= link_to article_path(@latest_articles[i].id) do %>
                            <%= @latest_articles[i].title %>
                          <% end %>
                        </div>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
            <hr/>
            <div class="container articles-follow-us">
              <h2><%= t('articles.follow_us_on_facebook') %></h2>

            </div>
            <hr/>
            <div class="container article-sidebar-newsletter">
              <div class="row">
                <%= render 'static_pages/mailchimp_form' %>
              </div>
            </div>
            <hr/>
            <div class="container article-sidebar-author-container">
              <h2><%= t('articles.author.title') %></h2>
              <div>
                <% if @article.author == "DeRose" %>
                  <div class="row articles-authors-mini-container">
                    <div class="col-md-3">
                      <div class="articles-authors-mini-photo derose">
                      </div>
                    </div>
                    <div class="col-md-9 articles-authors-mini-info">
                      <h3>DeRose</h3>
                      <p><%= t('articles.authors.derose_bio') %></p>
                      <% if false %>
                        <p>Estudioso na área de Qualidade de Vida e Alta Performance há mais de 50 anos, já escreveu mais de 30 livros e é o idealizador do M<span class='navbar-title-smallcaps'>ÉTODO</span> DeR<span class='navbar-title-smallcaps'>OSE</span></p>
                      <% end %>
                    </div>
                  </div>
                <% elsif @article.author == "Edgardo Caramella" %>
                  <div class="row articles-authors-mini-container">
                    <div class="col-md-3">
                      <div class="articles-authors-mini-photo edgardo">
                      </div>
                    </div>
                    <div class="col-md-9 articles-authors-mini-info">
                      <h3>Edgardo Caramella</h3>
                      <p><%= t('articles.authors.edgardo_bio') %></p>
                      <% if false %>
                        <p>Presidente da Federação do M<span class='navbar-title-smallcaps'>ÉTODO</span> DeR<span class='navbar-title-smallcaps'>OSE</span> na Argentina, com mais de 25 anos de experiência na área dando aulas e formando novos profissionais</p>
                      <% end %>
                    </div>
                  </div>
                <% elsif @article.author == "Carlo Mea" %>
                  <div class="row articles-authors-mini-container">
                    <div class="col-md-3">
                      <div class="articles-authors-mini-photo carlo">
                      </div>
                    </div>
                    <div class="col-md-9 articles-authors-mini-info">
                      <h3>Carlo Mea</h3>
                      <p><%= t('articles.authors.carlo_bio') %></p>
                      <% if false %>
                        <p>Representante do M<span class='navbar-title-smallcaps'>ÉTODO</span> DeR<span class='navbar-title-smallcaps'>OSE</span> na Itália, é um dos mais reconhecidos demonstradores das nossas técnicas corporais, trabalhando com empreendedor desde 2002</p>
                      <% end %>
                    </div>
                  </div>
                <% elsif @article.author == "Joris Marengo" %>
                  <div class="row articles-authors-mini-container">
                    <div class="col-md-3">
                      <div class="articles-authors-mini-photo joris">
                        
                      </div>
                    </div>
                    <div class="col-md-9 articles-authors-mini-info">
                      <h3>Joris Marengo</h3>
                    </div>
                  </div>
                <% elsif @article.author == "Yael Barcesat" %>
                  <div class="row articles-authors-mini-container">
                    <div class="col-md-3">
                      <div class="articles-authors-mini-photo yael">
                      </div>
                    </div>
                    <div class="col-md-9 articles-authors-mini-info">
                      <h3>Yael Barcesat</h3>
                      <p><%= t('articles.authors.yael_bio') %></p>
                      <% if false %>
                        Autora de livros sobre vocalização de sons e formação de novos profissionais, é também demonstradora das técnicas do M<span class='navbar-title-smallcaps'>ÉTODO</span> DeR<span class='navbar-title-smallcaps'>OSE</span>
                      <% end %>
                    </div>
                  </div>
                <% elsif @article.author == "Gustavo Marson" %>
                  <div class="row articles-authors-mini-container">
                    <div class="col-md-3">
                      <div class="articles-authors-mini-photo gustavo">
                      </div>
                    </div>
                    <div class="col-md-9 articles-authors-mini-info">
                      <h3>Gustavo Marson</h3>
                    </div>
                  </div>
                <%end%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
