<% title @article.title.capitalize %>
<div class="single-article-container container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="row articles-categories-container">
          <div id="article-affix">
            <div class="col-md-12 articles-categories">
              <%= render 'articles_categories' %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 main-article-container">
            <div class="container">
              <div class="row">
                <div class="col-md-12 article-info-container">
                  <h1>
                    <%= @article.title %>
                    <% if !@article.subtitle.nil? %>
                      <br>
                      <%= @article.subtitle %>
                    <% end %>
                  </h1>
                  <div class="container">
                    <div class="row">
                      <div class="col-md-2 article-author-photo">
                        <div class="articles-authors-mini-photo <%= @article.author.first_name.try :downcase %><%= @article.author.last_name.downcase %>">
                        </div>
                      </div>
                      <div class="col-md-10 article-metadata">
                        <div class="container">
                          <div class="row">
                            <div class="article-author">
                              <%= @article.author.name %>
                            </div>
                            <div class="article-square articles-category-<%= @article.categories.first.name.parameterize.underscore %>">

                            </div>
                            <div class="article-category">
                              <%= t("static_pages.categories."+"#{@article.categories.first.name.parameterize.underscore}") %>
                            </div>
                          </div>
                          <div class="row article-tag">
                            <% if @article.tags.count > 0 %>
                              | <% @article.tags.each do |tag| %>
                              <%= tag.name %> |
                              <% end %>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr/>
                  <div class="container">
                    <div class="row article-content">
                      <% if !@article.video_url.blank? %>
                        <%= raw youtube_embed @article.video_url, "100%", "300px" %>
                      <% else %>
                        <%= image_tag @article.image.url if @article.image? %>
                      <% end %>
                      <p><%= simple_format @article.content %></p>
                    </div>
                  </div>
                  <hr>
                  <div class="container related-articles">
                    <h2>
                      <%= t("articles.show.related_texts", default: "TEXTOS RELACIONADOS") %>
                    </h2>
                    <% cache "#{@article.categories.first.name}-related_articles" do%>
                      <div class="row">
                      <% 3.times do |i| %>
                        <div class="col-md-4">
                          <% if @related_articles.count > i %>
                            <div>
                              <%= link_to article_path(@related_articles[i].id) do %>
                                <%= image_tag @related_articles[i].image.url %>
                            <% end %>
                            </div>
                            <div class="related-article-title">
                              <%= link_to article_path(@related_articles[i].id) do %>
                                <%= @related_articles[i].title %>
                              <% end %>
                            </div>
                          <% end %>
                        </div>
                      <% end %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
              <div class="container article-sidebar latest-articles">
                <h2>ULTIMOS ARTIGOS</h2>
                <% 3.times do |i| %>
                  <div class="row">
                    <% if @latest_articles.count > i %>
                      <div class="col-md-5">
                        <%= link_to article_path(@latest_articles[i].id) do %>
                          <%= image_tag @latest_articles[i].image.url %>
                        <% end %>
                      </div>
                      <div class="col-md-7 latest-article-title-container">
                        <div class="latest-article-title">
                          <%= link_to article_path(@latest_articles[i].id) do %>
                            <%= @latest_articles[i].title %>
                          <% end %>
                        </div>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
            <hr/>
            <div class="container articles-follow-us">
              <h2>FOLLOW US ON FACEBOOK</h2>

            </div>
            <hr/>
            <div class="container article-sidebar-newsletter">
              <div class="row">
                <%= render 'static_pages/mailchimp_form' %>
              </div>
            </div>
            <hr/>
            <div class="container article-sidebar-author-container">
              <h2>O AUTOR</h2>
              <div>
                <%= render "authors/author", author: @article.author %>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
