<% title @article.title.capitalize %>

<div class="single-article-container container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="container">
        <div class="row articles-categories-container">
          <div id="article-affix">
            <div class="col-md-12 articles-categories">
              <%= render 'articles_categories' %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 main-article-container">
            <div class="container">
              <div class="row">
                <div class="col-md-12 article-info-container">
                  <h1>
                    <%= @article.title %>
                    <% if !@article.subtitle.nil? %>
                      <br>
                      <%= @article.subtitle %>
                    <% end %>
                  </h1>
                  <div class="container">
                    <div class="row">
                      <div class="col-md-2 article-author-photo">
                        <%= image_tag "#{@article.author.downcase}.jpg" %>
                      </div>
                      <div class="col-md-10 article-metadata">
                        <div class="container">
                          <div class="row">
                            <div class="article-author">
                              <%= @article.author %>
                            </div>
                            <div class="article-square articles-category-<%= @article.categories.first.name.parameterize.underscore %>">

                            </div>
                            <div class="article-category">
                              <%= t("#{@article.categories.first.name.parameterize.underscore}") %>
                            </div>
                          </div>
                          <div class="row article-tag">
                            <% if @article.tags.count > 0 %>
                              | <% @article.tags.each do |tag| %>
                              <%= tag.name %> |
                              <% end %>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr/>
                  <div class="container">
                    <div class="row article-content">
                      <% if !@article.video_url.blank? %>
                        <%= raw youtube_embed @article.video_url, "100%", "100%" %>
                      <% else %>
                        <%= image_tag @article.article_image if @article.article_image? %>
                      <% end %>
                      <p><%= @article.content %></p>
                    </div>
                  </div>
                  <hr>
                  <div class="container related-articles">
                    <h2>
                      TEXTOS RELACIONADOS
                    </h2>
                    <div class="row">
                    <% 3.times do |i| %>
                      <div class="col-md-4">
                        <div>
                          <%= link_to article_path(@related_articles[i].id) do %>
                            <%= image_tag @related_articles[i].article_image.url %>
                        <% end %>
                        </div>
                        <div class="related-article-title">
                          <%= link_to article_path(@related_articles[i].id) do %>
                            <%= @related_articles[i].title %>
                          <% end %>
                        </div>
                      </div>
                    <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 article-sidebar">
            <div class="container latest-articles">
              <h2>ULTIMOS ARTIGOS</h2>
              <% 3.times do |i| %>
                <div class="row">
                  <div class="col-md-5">
                    <%= link_to article_path(@latest_articles[i].id) do %>
                      <%= image_tag @latest_articles[i].article_image.url %>
                    <% end %>
                  </div>
                  <div class="col-md-7 latest-article-title-container">
                    <div class="latest-article-title">
                      <%= link_to article_path(@latest_articles[i].id) do %>
                        <%= @latest_articles[i].title %>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
            <hr/>
            <div class="container articles-follow-us">
              <h2>FOLLOW US ON FACEBOOK</h2>

            </div>
            <hr/>
            <div class="container article-sidebar-newsletter">
              <div class="row">
                <%= render 'static_pages/mailchimp_form' %>
              </div>
            </div>
            <hr/>
            <div class="container article-sidebar-author-container">
              <h2>O AUTOR</h2>
              <div class="row">
                <div >
                  <%= image_tag "#{@article.author.downcase}.jpg" %>
                </div>
                <div class="article-sidebar-author-name">
                  <h3><%= @article.author %></h3>
                  <% if @article.author == "DeRose" %>
                    <p>Studioso na área de Qualidade de Vida e Alta Performance há mais de 50 anos, já escreveu mais de 30 livros e é o idealizador do Método DeR<span class="navbar-title-smallcaps">OSE</span></p>
                  <% elsif @article.author == "Edgardo Caramella" %>
                    <p>Presidente da Federação do Método DeRose na Argentina, com mais de 25 anos de experiência na área dando aulas e formando novos profissionais</p>
                  <% elsif @article.author == "Carlo Mea" %>
                    <p>Representante do Método DeRose na Itália, é um dos mais reconhecidos demonstradores das nossas técnicas corporais, trabalhando com empreendedor desde 2002</p>
                  <%end%>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
