<div class="row articles-authors-mini-container">
  <div class="col-md-3">
    <div class="articles-authors-mini-photo <%= author.first_name.try :downcase %><%= author.last_name.downcase %>">
    </div>
  </div>
  <div class="col-md-9 articles-authors-mini-info">
    <h3><%= author.first_name %> <%= author.last_name %></h3>
    <p><%= simple_format t("author.#{author.first_name}#{author.last_name}.bio") %></p>
  </div>
</div>