<div class="container footer-container">
  <div class="row footer-inner-container">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <div class="col-md-4 gold-color footer-title">
          <div class="row">
            <%= t('static_pages.footer.title_html') %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 footer-inner-column">
          <div class="row after-title gold-color inner-footer-title"><%= t('static_pages.footer.derose_for_leaders.title') %></div>
          <div class="row inner-footer-content border-9">
            <a href="derose_method" class="inner-footer-link"><%= t('static_pages.footer.derose_for_leaders.derose_method_html') %></a>
            <a href="individual_consultory" class="inner-footer-link"><%= t('static_pages.footer.derose_for_leaders.personal_teachers') %></a>
            <a href="net" class="inner-footer-link"><%= t('static_pages.footer.derose_for_leaders.all_over_the_world_html') %></a>
          </div>
        </div>
        <div class="col-md-4 footer-inner-column">
          <div class="row after-title gold-color inner-footer-title"><%= t('static_pages.footer.individuals.title') %></div>
          <div class="row inner-footer-content">
            <a href="individual_consultory" class="inner-footer-link"><%= t('static_pages.footer.individuals.personal_teaching') %></a>
            <a href="individual_consultory#training" class="inner-footer-link"><%= t('static_pages.footer.individuals.training') %></a>
            <a href="individual_consultory#consultory" class="inner-footer-link"><%= t('static_pages.footer.individuals.consulting') %></a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row after-title gold-color inner-footer-title footer-inner-column ">
            <%= t('static_pages.footer.enterprises.title') %>
          </div>
          <div class="row inner-footer-content">
            <a href="group_consultory" class="inner-footer-link"><%= t('static_pages.footer.enterprises.small_group_teaching') %></a>
            <a href="group_consultory#training" class="inner-footer-link"><%= t('static_pages.footer.enterprises.training') %></a>
            <a href="group_consultory#talks" class="inner-footer-link"><%= t('static_pages.footer.enterprises.talks') %></a>
            <a href="group_consultory#workshop" class="inner-footer-link"><%= t('static_pages.footer.enterprises.workshop') %></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 footer-inner-column">
          <div class="row after-title gold-color inner-footer-title"><%= t('static_pages.footer.articles.title') %></div>
          <div class="row inner-footer-content">
            <a href="#" class="inner-footer-link"><%= t('static_pages.footer.articles.leadership') %></a>
            <a href="#" class="inner-footer-link"><%= t('static_pages.footer.articles.high_performance') %></a>
            <a href="#" class="inner-footer-link"><%= t('static_pages.footer.articles.focus') %></a>
            <a href="#" class="inner-footer-link"><%= t('static_pages.footer.articles.intuition') %></a>
            <a href="#" class="inner-footer-link"><%= t('static_pages.footer.articles.human_relationships') %></a>
            <a href="#" class="inner-footer-link"><%= t('static_pages.footer.articles.quality_of_life') %></a>
          </div>
        </div>
        <div class="col-md-4 footer-inner-column">
          <div class="row after-title gold-color inner-footer-title"><%= t('static_pages.footer.testimonials.title') %></div>
          <div class="row inner-footer-content">
            <a href="#" class="inner-footer-link"><%= t('static_pages.footer.testimonials.enterprises') %></a>
            <a href="#" class="inner-footer-link"><%= t('static_pages.footer.testimonials.institutions') %></a>
          </div>
        </div>
        <div class="col-md-4 footer-inner-column footer-contact-us">
            <div class="pull-right">
              <div class="follow-title">
                <%= link_to t('static_pages.footer.contact_us'), contact_path %>
              </div>
              <div class="follow-title">
                <%= link_to t('static_pages.footer.testimonials.apply_now'), apply_path %>
              </div>
              <div class="follow-title">
                <%= t('static_pages.footer.testimonials.follow_us') %>
              </div>
              <div class="follow-logos">
                <a href="" class="footer-logos facebook-logo">
                  <%= image_tag 'logo-fb.png' %>
                </a>
                <a href="" class="footer-logos  twitter-logo">
                  <%= image_tag 'logo-tw.png' %>
                </a>
                <a href="" class="footer-logos linkedin-logo">
                  <%= image_tag 'logo-ln.png' %>
                </a>
                <a href="" class="footer-logos youtube-logo">
                  <%= image_tag 'logo-yt.png' %>
                </a>
                <a href="" class="footer-logos google-logo">
                  <%= image_tag 'logo-gp.png' %>
                </a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>