<div class="container footer-container">
  <div class="row footer-inner-container">
    <div class="col-md-10 col-md-offset-1">
    <div class="container">
      <div class="row">
        <div class="col-md-4 gold-color footer-title">
          <div class="row">
            DeR<span class="smaller-font">OSE</span> for Leaders
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 footer-inner-column">
          <div class="row after-title gold-color inner-footer-title">Quem somos?</div>
          <div class="row inner-footer-content border-9">
            <a href="#" class="inner-footer-link">O M<span class="navbar-title-smallcaps">ÉTODO</span> DeR<span class="navbar-title-smallcaps">OSE</span></a>
            <a href="#" class="inner-footer-link">Nossos Consultores</a>
            <a href="#" class="inner-footer-link">O Método pelo mundo</a>
          </div>
        </div>
        <div class="col-md-4 footer-inner-column">
          <div class="row after-title gold-color inner-footer-title">Programas para individuais</div>
          <div class="row inner-footer-content">
            <a href="#" class="inner-footer-link">Personal Teaching</a>
            <a href="#" class="inner-footer-link">Treinamento</a>
            <a href="#" class="inner-footer-link">Consultoria</a>
            <a href="#" class="inner-footer-link">Investimento</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row after-title gold-color inner-footer-title footer-inner-column ">
            Programas para empresas
          </div>
          <div class="row inner-footer-content">
            <a href="#" class="inner-footer-link">Small Group Teaching</a>
            <a href="#" class="inner-footer-link">Treinamento</a>
            <a href="#" class="inner-footer-link">Palestra</a>
            <a href="#" class="inner-footer-link">Workshops</a>
            <a href="#" class="inner-footer-link">Investimento</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 footer-inner-column">
          <div class="row after-title gold-color inner-footer-title">Artigos</div>
          <div class="row inner-footer-content">
            <a href="#" class="inner-footer-link">Liderança</a>
            <a href="#" class="inner-footer-link">Alta Produtividade</a>
            <a href="#" class="inner-footer-link">Foco</a>
            <a href="#" class="inner-footer-link">Boas Relações Humanas</a>
            <a href="#" class="inner-footer-link">Boa Forma</a>
            <a href="#" class="inner-footer-link">Administração do stress</a>
          </div>
        </div>
        <div class="col-md-4 footer-inner-column">
          <div class="row after-title gold-color inner-footer-title">Depoimentos</div>
          <div class="row inner-footer-content">
            <a href="#" class="inner-footer-link">Líderes</a>
            <a href="#" class="inner-footer-link">Empresas</a>
            <a href="#" class="inner-footer-link">Instituções</a>
          </div>
        </div>
      </div>
      <div class="row pull-right">
      <div class="follow-title">
        Follow us!
      </div>
      <div class="follow-logos">
        <a href="" class="footer-logos facebook-logo">
          <%= image_tag 'logo-fb.png' %>
        </a>
        <a href="" class="footer-logos  twitter-logo">
          <%= image_tag 'logo-tw.png' %>
        </a>
        <a href="" class="footer-logos linkedin-logo">
          <%= image_tag 'logo-ln.png' %>
        </a>
        <a href="" class="footer-logos youtube-logo">
          <%= image_tag 'logo-yt.png' %>
        </a>
        <a href="" class="footer-logos google-logo">
          <%= image_tag 'logo-gp.png' %>
        </a>
      </div>
      </div>
    </div>
    </div>
  </div>
</div>