<div class="container">
  <div class="row footer-container">
    <div class="footer-inner-container">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-md-4 gold-color footer-title">
            <%= t('static_pages.footer.title_html') %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 footer-inner-column">
            <div class="after-title gold-color inner-footer-title"><%= t('static_pages.footer.derose_for_leaders.title') %></div>
            <div class="inner-footer-content border-9">
              <%= link_to t('static_pages.footer.derose_for_leaders.derose_method_html'), derose_method_path, class: "inner-footer-link"%>
              <%= link_to t('static_pages.footer.derose_for_leaders.personal_teachers'), (individual_consultory_path(:q => "1")+"#personal"), class: "inner-footer-link"%>
              <%= link_to t('static_pages.footer.derose_for_leaders.all_over_the_world_html'), net_path, class: "inner-footer-link"%>
            </div>
          </div>
          <div class="col-md-4 footer-inner-column">
            <div class="after-title gold-color inner-footer-title"><%= t('static_pages.footer.testimonials.title') %></div>
            <div class="inner-footer-content">
              <%= link_to t('static_pages.footer.testimonials.enterprises'), enterprise_testimonials_path, class: "inner-footer-link"%>
              <%= link_to t('static_pages.footer.testimonials.institutions'), institution_testimonials_path, class: "inner-footer-link"%>
            </div>
          </div>
            <div class="col-md-4">
              <div class="after-title gold-color inner-footer-title footer-inner-column ">
                <%= t('static_pages.footer.enterprises.title') %>
              </div>
              <div class="inner-footer-content">
                <%= link_to t('static_pages.footer.enterprises.training'), intense_training_path, class: "inner-footer-link"%>
                <%= link_to t('static_pages.footer.enterprises.talks'), extensive_training_path, class: "inner-footer-link"%>
                <%= link_to t('static_pages.footer.enterprises.workshop'), leader_coaching_path, class: "inner-footer-link"%>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-4 footer-inner-column">
            <div class="after-title gold-color inner-footer-title"><%= t('static_pages.footer.articles.title') %></div>
            <div class="inner-footer-content">
              <%= link_to t('static_pages.footer.articles.leadership'), articles_url(category: "leadership"), class: "inner-footer-link" %>
              <%= link_to t('static_pages.footer.articles.high_performance'), articles_url(category: "high performance"), class: "inner-footer-link" %>
              <%= link_to t('static_pages.footer.articles.focus'), articles_url(category: "focus"), class: "inner-footer-link" %>
              <%= link_to t('static_pages.footer.articles.intuition'), articles_url(category: "intuition"), class: "inner-footer-link" %>
              <%= link_to t('static_pages.footer.articles.human_relationships'), articles_url(category: "human relationships"), class: "inner-footer-link" %>
              <%= link_to t('static_pages.footer.articles.quality_of_life'), articles_url(category: "quality of life"), class: "inner-footer-link" %>
            </div>
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-4 footer-inner-column footer-contact-us">
              <div class="pull-right">
                <div class="follow-title">
                  <%= link_to t('static_pages.footer.contact_us'), contact_path %>
                </div>
                <div class="follow-title">
                  <%= link_to t('static_pages.footer.apply_now'), contact_path %>
                </div>
                <div class="follow-title">
                  <%= t('static_pages.footer.follow_us') %>
                </div>
                <div class="follow-logos">
                  <a href="" class="footer-logos facebook-logo">
                    <%= image_tag 'logo-fb.png' %>
                  </a>
                  <a href="" class="footer-logos  twitter-logo">
                    <%= image_tag 'logo-tw.png' %>
                  </a>
                  <a href="" class="footer-logos linkedin-logo">
                    <%= image_tag 'logo-ln.png' %>
                  </a>
                  <a href="" class="footer-logos youtube-logo">
                    <%= image_tag 'logo-yt.png' %>
                  </a>
                  <a href="" class="footer-logos google-logo">
                    <%= image_tag 'logo-gp.png' %>
                  </a>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>