<div class="container">
  <div class="row header-container">
    <div class="header-main-row">
      <div class="col-md-4 image-row" data-no-turbolink>
        <%= link_to root_path do %>
          <% locale_logo %>
        <% end %>
      </div>
      <div class="col-md-7 header-text-row">
        <%= render "layouts/languages" %>
        <div class="row">
          <div class="col-md-12 pull-right teaching-phrase">
            <span class="teaching-phrase-location">
              <%= t('static_pages.header.teaching_phrase') %>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 pull-right countries-header">
            <%= raw t('static_pages.header.countries_html') %>
          </div>
        </div>
      </div>
      <div class="col-md-1">
      </div>
    </div>
  </div>
  <div class="row">
    <%= render "layouts/navbar" %>
  </div>
</div>