<div class="container header-container">
  <div class="row header-main-row">
    <div class="col-md-4 image-row" data-no-turbolink>
      <%= link_to root_path do %>
        <%= image_tag 'logo_mdl.png', class: "center" %>
      <% end %>
    </div>
    <div class="col-md-7 header-text-row">
      <% render "layouts/languages" %>
      <div class="container">
        <div class="row pull-right teaching-phrase">
          <span class="teaching-phrase-location">
            <%= t('static_pages.header.teaching_phrase') %>
          </span>
        </div>
      </div>
      <div class="container">
        <div class="row pull-right countries-header">
          <%= raw t('static_pages.header.countries_html') %>
        </div>
      </div>
    </div>
    <div class="col-md-1">
    </div>
  </div>
</div>
<%= render "layouts/navbar" %>