<div class="row pull-right languages-row">
  <div class="table-responsive">
      <table>
        <tr>
          <td>
            <%= link_to url_for(locale: :fr) do %>
              <%= image_tag 'lang_fr.png', class: "center" %>
            <% end %>
          </td>
          <td>
            <%= link_to url_for(locale: :en) do %>
              <%= image_tag 'lang_usa.png', class: "center" %>
            <% end %>
          </td>
          <td>
            <%= link_to url_for(locale: :pt) do %>
              <%= image_tag 'lang_pt.png', class: "center" %>
            <% end %>
          </td>
          <td>
            <%= link_to url_for(locale: :es) do %>
              <%= image_tag 'lang_es.png', class: "center" %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
</div>
