<div class="navbar" role="navigation" id="my-affix">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" data-no-turbolink>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path do %>
        <%= image_tag 'lis_logo.png', class: 'navbar-brand' %>
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if controller_name == 'methodologie' %> dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            DeR<span class="navbar-title-smallcaps">OSE</span>  F<span class="navbar-title-smallcaps">OR</span> L<span class="navbar-title-smallcaps">EADERS</span> <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="derose_method">O M<span class="navbar-title-smallcaps">ÉTODO</span> DeR<span class="navbar-title-smallcaps">OSE</span></a></li>
            <li><a href="our_consultors">Personal Teachers</a></li>
            <li><a href="net">DeR<span class="navbar-title-smallcaps">OSE</span> All Over the World</a></li>
          </ul>
        </li>
        
        <li class="<%= 'active' if controller_name == 'programmes' %> dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            P<span class="navbar-title-smallcaps">ROGRAMAS</span><b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li class="navbar-non-clickable">PARA INDIVIDUOS</li>      
            <li><a tabindex="-1" href="individual_consultory#personal">Personal Teaching</a></li>
            <li><a tabindex="-1" href="individual_consultory#consultory">Consultoria</a></li>
            <li><a tabindex="-1" href="individual_consultory#training">Treinamento</a></li>
            <li><a tabindex="-1" href="individual_consultory">Investimentos</a></li>
            <li class="navbar-non-clickable">PARA EMPRESAS</li>
            <li><a tabindex="-1" href="group_consultory">Small Group Teaching</a></li>
            <li><a tabindex="-1" href="group_consultory#training">Treinamento</a></li>
            <li><a tabindex="-1" href="group_consultory#talks">Palestra</a></li>
            <li><a tabindex="-1" href="group_consultory#workshop">Workshop</a></li>
            
          </ul>
          <!-- ul class="dropdown-menu">
            <li>
              <div class="row">
                <ul class="list-unstyled col-md-6">
                  <li><a href="individual_consultory" class="gold-title"> PARA INDIVIDUOS </a></li>      
                  <li><a tabindex="-1" href="individual_consultory#personal">Personal Teaching</a></li>
                  <li><a tabindex="-1" href="individual_consultory#consultory">Consultoria</a></li>
                  <li><a tabindex="-1" href="individual_consultory#training">Treinamento</a></li>
                  <li><a tabindex="-1" href="individual_consultory">Investimentos</a></li>
                </ul>
                <ul class="list-unstyled col-md-6">
                  <li><a href="group_consultory" class="gold-title"> PARA EMPRESAS </a></li>
                  <li><a tabindex="-1" href="group_consultory">Small Group Teaching</a></li>
                  <li><a tabindex="-1" href="group_consultory#training">Treinamento</a></li>
                  <li><a tabindex="-1" href="group_consultory#talks">Palestra</a></li>
                  <li><a tabindex="-1" href="group_consultory#workshop">Workshop</a></li>
                </ul>
              </div>
            </li>
          </ul -->
        </li>
        <% if false %>
          <li class="<%= 'active' if controller_name == 'programmes' %> dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              PROGRAMAS<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-submenu">
                <a tabindex="-1" href="#">PARA INDIVIDUOS</a>
                <ul class="dropdown-menu">
                  <li><a tabindex="-1" href="#">Personal Teaching</a></li>
                  <li><a tabindex="-1" href="#">Consultoria</a></li>
                  <li><a tabindex="-1" href="#">Treinamento</a></li>
                  <li><a tabindex="-1" href="#">Investimentos</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a tabindex="-1" href="#">PARA EMPRESAS</a>
                <ul class="dropdown-menu">
                  <li><a tabindex="-1" href="#">Small Group Teaching</a></li>
                  <li><a tabindex="-1" href="#">Treinamento</a></li>
                  <li><a tabindex="-1" href="#">Palestra</a></li>
                  <li><a tabindex="-1" href="#">Workshop</a></li>
                  <li><a tabindex="-1" href="#">Investimentos</a></li>
                </ul>
              </li>
            <% end %>
        </li>
        <li class="<%= 'active' if controller_name == 'reconnaissances' %> dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            D<span class="navbar-title-smallcaps">EPOIMENTOS</span><b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Empresas</a></li>
            <li><a href="#">Instituçoes</a></li>
          </ul>
        </li>
        <li class="<%= 'active' if controller_name == 'articles' %> ">
          <a href="articles">
            A<span class="navbar-title-smallcaps">RTIGOS</span><!-- b class="caret"></b -->
          </a>
          <!-- ul class="dropdown-menu">
            <li><a href="#">Liderança</a></li>
            <li><a href="#">Alta Produtividade</a></li>
            <li><a href="#">Foco</a></li>
            <li><a href="#">Intuição Aplicada</a></li>
            <li><a href="#">Relação Interpessoal</a></li>
            <li><a href="#">Qualidade de vida</a></li>
          </ul -->
        </li>
        <li class="<%= 'active' if controller_name == 'contact' %> dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            C<span class="navbar-title-smallcaps">ONTATO</span><b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="contact">Falar conosco / Candidatura</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</div>