<div class="navbar" role="navigation" id="my-affix">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" data-no-turbolink>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path do %>
        <%= image_tag 'lis_logo.png', class: 'navbar-brand' %>
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if controller?('static_pages') && action?("derose_method", "our_consultors", "net") %> dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= t('static_pages.navbar.derose_for_leaders.title_html') %>
          </a>
          <ul class="dropdown-menu">
            <li><a href="derose_method"><%= t('static_pages.navbar.derose_for_leaders.derose_method_html') %></a></li>
            <li><a href="our_consultors"><%= t('static_pages.navbar.derose_for_leaders.personal_teachers') %></a></li>
            <li><a href="net"><%= t('static_pages.navbar.derose_for_leaders.all_over_the_world_html') %></a></li>
          </ul>
        </li>
        
        <li class="<%= 'active' if controller?('static_pages') && action?("individual_consultory", "group_consultory") %> dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= t('static_pages.navbar.programs.title_html') %><b class="caret"></b>
          </a>
          <ul class="dropdown-menu" data-no-turbolink>
            <li class="navbar-non-clickable"><%= t('static_pages.navbar.programs.individuals.title') %></li>
            <li><a href="individual_consultory?value=$1#personal"><%= t('static_pages.navbar.programs.individuals.personal_teaching') %></a></li>
            <li><a href="individual_consultory?value=$2#consultory"><%= t('static_pages.navbar.programs.individuals.consulting') %></a></li>
            <li><a href="individual_consultory?value=$3#training"><%= t('static_pages.navbar.programs.individuals.training') %></a></li>
            <li class="navbar-non-clickable"><%= t('static_pages.navbar.programs.enterprises.title') %></li>
            <li><a href="group_consultory"><%= t('static_pages.navbar.programs.enterprises.small_group_teaching') %></a></li>
            <li><a href="group_consultory?value=$4#small-group-training"><%= t('static_pages.navbar.programs.enterprises.training') %></a></li>
            <li><a href="group_consultory?value=$5#talks"><%= t('static_pages.navbar.programs.enterprises.talks') %></a></li>
            <li><a href="group_consultory?value=$6#workshop"><%= t('static_pages.navbar.programs.enterprises.workshop') %></a></li>
            
          </ul>
          <!-- ul class="dropdown-menu">
            <li>
              <div class="row">
                <ul class="list-unstyled col-md-6">
                  <li><a href="individual_consultory" class="gold-title"> PARA INDIVIDUOS </a></li>      
                  <li><a tabindex="-1" href="individual_consultory#personal">Personal Teaching</a></li>
                  <li><a tabindex="-1" href="individual_consultory#consultory">Consultoria</a></li>
                  <li><a tabindex="-1" href="individual_consultory#training">Treinamento</a></li>
                  <li><a tabindex="-1" href="individual_consultory">Investimentos</a></li>
                </ul>
                <ul class="list-unstyled col-md-6">
                  <li><a href="group_consultory" class="gold-title"> PARA EMPRESAS </a></li>
                  <li><a tabindex="-1" href="group_consultory">Small Group Teaching</a></li>
                  <li><a tabindex="-1" href="group_consultory#training">Treinamento</a></li>
                  <li><a tabindex="-1" href="group_consultory#talks">Palestra</a></li>
                  <li><a tabindex="-1" href="group_consultory#workshop">Workshop</a></li>
                </ul>
              </div>
            </li>
          </ul -->
        </li>
        <% if false %>
          <li class="<%= 'active' if controller_name == 'programmes' %> dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              PROGRAMAS<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-submenu">
                <a tabindex="-1" href="#">PARA INDIVIDUOS</a>
                <ul class="dropdown-menu">
                  <li><a tabindex="-1" href="#">Personal Teaching</a></li>
                  <li><a tabindex="-1" href="#">Consultoria</a></li>
                  <li><a tabindex="-1" href="#">Treinamento</a></li>
                  <li><a tabindex="-1" href="#">Investimentos</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a tabindex="-1" href="#">PARA EMPRESAS</a>
                <ul class="dropdown-menu">
                  <li><a tabindex="-1" href="#">Small Group Teaching</a></li>
                  <li><a tabindex="-1" href="#">Treinamento</a></li>
                  <li><a tabindex="-1" href="#">Palestra</a></li>
                  <li><a tabindex="-1" href="#">Workshop</a></li>
                  <li><a tabindex="-1" href="#">Investimentos</a></li>
                </ul>
              </li>
            <% end %>
        </li>
        <li class="<%= 'active' if controller?('static_pages') && action?("enterprise_testimonials", "institution_testimonials") %> dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= t('static_pages.navbar.testimonials.title_html') %><b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="enterprise_testimonials"><%= t('static_pages.navbar.testimonials.enterprises') %></a></li>
            <li><a href="institution_testimonials"><%= t('static_pages.navbar.testimonials.institutions') %></a></li>
          </ul>
        </li>
        <li class="<%= 'active' if controller?('static_pages') && action?("articles") %> dropdown">
          <a href="articles">
            <%= t('static_pages.navbar.articles.title_html') %><!-- b class="caret"></b -->
          </a>
          <!-- ul class="dropdown-menu">
            <li><a href="#">Liderança</a></li>
            <li><a href="#">Alta Produtividade</a></li>
            <li><a href="#">Foco</a></li>
            <li><a href="#">Intuição Aplicada</a></li>
            <li><a href="#">Relação Interpessoal</a></li>
            <li><a href="#">Qualidade de vida</a></li>
          </ul -->
        </li>
        <li class="<%= 'active' if controller?('static_pages') && action?("contact", "apply") %> dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= t('static_pages.navbar.contact_type.title_html') %><b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="contact"><%= t('static_pages.navbar.contact_type.contact') %></a></li>
            <!-- li><a href="apply">Candidatura</a></li -->
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</div>