<div class="navbar" role="navigation" id="my-affix">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, nil, data: {no_turbolink: true} do %>
        <%= image_tag 'logo_mdl.png', class: 'navbar-brand' %>
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if controller_name == 'methodologie' %> dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            DeR<span class="navbar-title-smallcaps">OSE</span>  FOR LEADERS<b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="derose_method">O M<span class="navbar-title-smallcaps">ÉTODO</span> DeR<span class="navbar-title-smallcaps">OSE</span></a></li>
            <li><a href="our_consultors">NOSSOS CONSULTORES</a></li>
            <li><a href="net">O MÉTODO PELO MUNDO</a></li>
          </ul>
        </li>
        <li class="<%= 'active' if controller_name == 'programmes' %> dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            PROGRAMAS<b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <div class="row">
                <ul class="list-unstyled col-md-6">
                  <li><a href="individual_consultory" class="gold-title"> PARA INDIVIDUOS </a></li>      
                  <li><a tabindex="-1" href="individual_consultory#personal">Personal Teaching</a></li>
                  <li><a tabindex="-1" href="individual_consultory#consultory">Consultoria</a></li>
                  <li><a tabindex="-1" href="individual_consultory#training">Treinamento</a></li>
                  <li><a tabindex="-1" href="individual_consultory">Investimentos</a></li>
                </ul>
                <ul class="list-unstyled col-md-6">
                  <li><a href="individual_consultory" class="gold-title"> PARA EMPRESAS </a></li>
                  <li><a tabindex="-1" href="#">Small Group Teaching</a></li>
                  <li><a tabindex="-1" href="#">Treinamento</a></li>
                  <li><a tabindex="-1" href="#">Palestra</a></li>
                  <li><a tabindex="-1" href="#">Workshop</a></li>
                  <li><a tabindex="-1" href="#">Investimentos</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
        <% if false %>
          <li class="<%= 'active' if controller_name == 'programmes' %> dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              PROGRAMAS<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-submenu">
                <a tabindex="-1" href="#">PARA INDIVIDUOS</a>
                <ul class="dropdown-menu">
                  <li><a tabindex="-1" href="#">Personal Teaching</a></li>
                  <li><a tabindex="-1" href="#">Consultoria</a></li>
                  <li><a tabindex="-1" href="#">Treinamento</a></li>
                  <li><a tabindex="-1" href="#">Investimentos</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a tabindex="-1" href="#">PARA EMPRESAS</a>
                <ul class="dropdown-menu">
                  <li><a tabindex="-1" href="#">Small Group Teaching</a></li>
                  <li><a tabindex="-1" href="#">Treinamento</a></li>
                  <li><a tabindex="-1" href="#">Palestra</a></li>
                  <li><a tabindex="-1" href="#">Workshop</a></li>
                  <li><a tabindex="-1" href="#">Investimentos</a></li>
                </ul>
              </li>
            <% end %>
        </li>
        <li class="<%= 'active' if controller_name == 'reconnaissances' %>">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            DEPOIMENTOS<!-- b class="caret"></b -->
          </a>
          <!-- ul class="dropdown-menu">
            <li><a href="#">Líderes</a></li>
            <li><a href="#">Empresas</a></li>
            <li><a href="#">Instituçoes</a></li>
          </ul -->
        </li>
        <li class="<%= 'active' if controller_name == 'articles' %> dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            ARTIGOS<b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">LIDERANÇA</a></li>
            <li><a href="#">ALTA PRODUTIVIDADE</a></li>
            <li><a href="#">RELAÇOÊS HUMANAS</a></li>
            <li><a href="#">QUALIDADE DE VIDA</a></li>
            <li><a href="#">ADMINISTRAÇÂO DO STRESS</a></li>
            <li><a href="#">FOCO</a></li>
          </ul>
        </li>
        <li class="<%= 'active' if controller_name == 'contact' %>">
          <%= link_to 'CONTACT', contact_url %>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</div>