<div class="navbar" role="navigation" id="my-affix">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path do %>
        <%= image_tag 'logo_mdl.png', class: 'navbar-brand' %>
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if controller_name == 'methodologie' %>">
          <%= link_to 'MÉTHODOLOGIE', '#' %>
        </li>
        <li class="<%= 'active' if controller_name == 'programmes' %>">
          <%= link_to 'PROGRAMMES', '#' %>
        </li>
        <li class="<%= 'active' if controller_name == 'reconnaissances' %>">
          <%= link_to 'RECONNAISSANCES', '#' %>
        </li>
        <li class="<%= 'active' if controller_name == 'articles' %>">
          <%= link_to 'ARTICLES', '#' %>
        </li>
        <li class="<%= 'active' if controller_name == 'contact' %>">
          <%= link_to 'CONTACT', '#' %>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</div>